<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light">

      <img src="/assets/img/logovert.png" routerLink="" width="90" height="90" class="d-inline-block logo">

    <div class="divLinha form-group container-xl">
      <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          placeholder="Pesquise no PetFriends"
          (selected)='itemSelecionadoPesquisa()'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>

      <svg xmlns="http://www.w3.org/2000/svg" id="login" class="zoom" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" routerLink="/perfil-associado">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>

      <b>{{totalProduto}}</b>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16" id="carrinho" class="zoom" routerLink="/reserva">
        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
      </svg>
    </div>



    <ul class="nav topicos">

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>

    </ul>

  </nav>
</nav>







<div class="container-fluid">
  <div class="my-3 text-warning"><h2>RAÇÃO ÚMIDA</h2></div>

  <div class="row centro"><!--inicio row 1-->
    <div class="col"><!--inicio col 1-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/241784/product/1193389_Ra%C3%A7%C3%A3o_%C3%9Amida_Pedigree_Sach%C3%AA_Cordeiro_ao_Molho_para_C%C3%A3es_Adultos_de_Ra%C3%A7as_Pequenas_1.jpg?1627785475'
          nomeProduto="Ração Úmida Pedigree Sachê Cordeiro ao Molho para Cães Adultos de Raças Pequenas"
          [precoProduto]="2.89">
        </app-card-produto>
    </div><!--fim col 1-->

    <div class="col"><!--inicio col 2-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/223938/product/Ra%C3%A7%C3%A3o_%C3%9Amida_Nestl%C3%A9_Purina_Dog_Chow_Sach%C3%AA_Carne_ao_Molho_para_C%C3%A3es_Adultos_3110414.jpg?1627717582'
          nomeProduto="Ração Úmida Nestlé Purina Dog Chow Sachê Carne para Cães Adultos"
          [precoProduto]="3.00">
        </app-card-produto>
    </div><!--fim col 2-->

    <div class="col"><!--inicio col 3-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/241776/product/1193388_Ra%C3%A7%C3%A3o_%C3%9Amida_Pedigree_Sach%C3%AA_Frango_ao_Molho_para_C%C3%A3es_Filhote_1.jpg?1627785445'
          nomeProduto="Ração Úmida Pedigree Sachê Frango ao Molho para Cães Filhotes"
          [precoProduto]="2.50">
        </app-card-produto>
    </div><!--fim col 3-->

    <div class="col"><!--inicio col 4-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/236445/product/2387164_GP_Sach%C3%AA_Gourmet_C%C3%A3o_Adulto_Ovelha_100g_FRONTAL.jpg?1627758888'
          nomeProduto="Ração Úmida GranPlus Gourmet Sachê Ovelha para Cães Adultos"
          [precoProduto]="2.99">
        </app-card-produto>
    </div><!--fim col 4-->
  </div>

  <div class="row centro">
    <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1624376732695.jpg'
        nomeProduto="Ração Úmida GranPlus Gourmet Sachê para Gatos Castrados Sabor Salmão e Frango - 85g"
        [precoProduto]="2.89">
      </app-card-produto>
  </div><!--fim col 5-->

  <div class="col"><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1627390977390.jpg'
        nomeProduto="Ração Úmida Friskies Sachê para Gatos Adultos Sabor Atum ao Molho - 85g"
        [precoProduto]="3.10">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col"><!--inicio col 4-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1621255640495.jpg'
        nomeProduto="Ração Úmida Royal Canin Sachê Instinctive - Gatos Filhotes - 85g"
        [precoProduto]="9.99">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col"><!--inicio col 5-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1539800888241.jpg'
      nomeProduto="Ração Úmida Royal Canin Lata Baby Cat Instinctive - Gatos Filhotes - 195g"
      [precoProduto]="22.49">
    </app-card-produto>
  </div><!--fim col 5-->

  </div><!--fim row 1-->
</div>






