<body>
  
  <div class="fundo padding">
    <h3 class="text-usuario ">CADASTRO ASSOCIADO</h3>
    <form>

      <div class="row">
        <div class="col coluna1"><!--COLUNA 1-->

          <div class="nomecompleto form-group">
            <label for="exampleInputEmail1">NOME COMPLETO</label>
            <input type="text" 
                   class="form-control inputnome" 
                   name="nomeCadAssociado" 
                   placeholder="Digite seu nome" 
                   [(ngModel)]="cadastro.nomeCadAssociado">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">ENDEREÇO</label>
            <input type="text" 
                   class="form-control" 
                   name="enderecoCadAssociado" 
                   placeholder="Digite o seu endereço" 
                   [(ngModel)]="cadastro.enderecoCadAssociado">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">E-MAIL</label>
            <input type="email" 
                   class="form-control" 
                   name="emailCadAssociado" 
                   placeholder="Digite o seu email" 
                   [(ngModel)]="cadastro.emailCadAssociado">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">SENHA</label>
            <input type="password" 
                   class="form-control" 
                   name="senhaCadAssociado" 
                   placeholder="Digite sua senha" 
                   [(ngModel)]="cadastro.senhaCadAssociado">
          </div>

        </div><!--COLUNA 1-->
        

        
        <div class="col coluna2"><!--COLUNA 2-->
          
          <div class="divlabel">
            <label for="exampleInputEmail" class="form-label">TIPO ASSOCIADO </label>
            <br>
            <select autofocus id="tipo" style="width: 200px; height: 40px;">
              <option class="opcao" value="PetShop">Pet Shop</option>
              <option value="Veterinario">Veterinário</option>
            </select>
          </div><!--melhor mudar para text pq da pra diferenciar com o ngIF-->
          
          <div class="form-group telefone">
            <label for="exampleInputPassword1">TELEFONE</label>
            <input type="tel" 
                   placeholder="(11) 99999-9999" 
                   class="form-control" 
                   name="telCadAssociado" 
                   [(ngModel)]="cadastro.telCadAssociado">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">CNPJ</label>
            <input type="number" 
                   class="form-control" 
                   placeholder="Digite seu CNPJ" 
                   name="cnpjCadAssociado" 
                   [(ngModel)]="cadastro.cnpjCadAssociado">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">CONFIRMAR SENHA</label>
            <input type="password" 
                   placeholder="Digite sua senha novamente" 
                   class="form-control" 
                   name="confsenhaCadAssociado" 
                   [(ngModel)]="cadastro.confsenhaCadAssociado"> <!--*ngIf="cadastro.confsenhaCadAssociado == cadastro.senhaCadAssociado"-->
          </div>

          

        </div>
      </div>
    </form>
    <button type="submit" routerLink="" class="btn btn-warning" (click)="salvarCadastroAssoc()">Cadastrar</button>
    
  </div>



</body>
