<body>
  <nav class="navbar navbar-expand navbar-dark fundonav">
    <nav class="navbar navbar-light">
      <a class="navbar-brand ">
        <img src="/assets/img/botao.png" routerLink="" width="70" height="70" class="d-inline-block logo">
      </a>
      <div class="form-group container-xl ">
      </div>
    </nav>
  </nav>


  <div class="fundo shadow-1">
    <!--PRIMEIRO CARD-->
    <form>
      <div class="row">
        <div class="usuario-perfil">
          <!--Campo de imagem redondo --><svg class="bd-placeholder-img rounded-circle" width="120" height="120"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140
            </text>
          </svg>
          <h4>Bem-vindo, Usuario</h4>
          <b>
            <p>usuario@hotmail.com</p>
          </b>
        </div>

        <div class="fundo2 padding">
          <!--SEGUNDO CARD-->
          <svg xmlns="http://www.w3.org/2000/svg" class="text-usuario" width="" height="30" fill="currentColor"
            class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path
              d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
          </svg>
          <h5 class="text-usuario">MEUS DADOS</h5>
          <form>
            <div class="nomecompleto form-group">
              <label for="exampleInputEmail1">NOME COMPLETO</label>
              <input type="text" class="form-control inputnome" placeholder="DIGITE SEU NOME" name="nomeCadCliente"
                [(ngModel)]="cadastro.nomeCadCliente">
            </div>

            <div class="row">
              <div class="col coluna1">
                <!--COLUNA 1-->

                <div class="form-group">
                  <label for="exampleInputEmail1">ENDEREÇO</label>
                  <input type="text" class="form-control" name="emailCadCliente" placeholder="DIGITE SEU ENDEREÇO"
                    [(ngModel)]="cadastro.enderecoCadCliente">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">E-MAIL</label>
                  <input type="email" class="form-control" placeholder="E-MAIL" name="emailCadCliente"
                    [(ngModel)]="cadastro.emailCadCliente">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">SENHA</label>
                  <input type="password" class="form-control" name="senhaCadCliente" placeholder="DIGITE SUA SENHA"
                    [(ngModel)]="cadastro.senhaCadCliente">
                </div>
              </div>
              <!--COLUNA 1-->


              <div class="col coluna2">
                <!--COLUNA 2-->
                <div class="form-group">
                  <label for="exampleInputPassword1">TELEFONE</label>
                  <input type="tel" placeholder="TELEFONE" class="form-control" name="telCadCliente"
                    [(ngModel)]="cadastro.telCadCliente">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">CPF</label>
                  <input type="number" class="form-control" placeholder="CPF" name="cpfCadCliente" value="cpfCadCliente"
                    [(ngModel)]="cadastro.cpfCadCliente" disabled>
                </div>

                <!-- <div class="form-group">
                  <label for="exampleInputPassword1">CONFIRMAR SENHA</label>
                  <input type="password" placeholder="CONFIRME SENHA" class="form-control" name="confsenhaCadCliente"
                    [(ngModel)]="cadastro.confsenhaCadCliente">
                </div> -->
              </div>
            </div>
          </form>
          <button type="submit" routerLink="" class="btn btn-primary" (click)="salvarCadastroCliente()">Atualizar
            Perfil</button>
        </div>



      </div>
    </form>
  </div>
</body>