body{
  background-image: url("src/assets/img/fundocachorro.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 150vh;
  padding-top: 10%;
}

.fundo{
    background-color: transparent;
    width: 50vw;
    height: 20vh;
    background-color: rgba(255, 219, 152, 0.808);
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 50px;
    margin-top: 2vh;
    margin-left: 25vw;
    border-radius: 1%;
    
}

.fundo2{
    width: 50vw;
    height: 48vh;
    background-color: rgba(255, 219, 152, 0.808);
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 40px;
    margin-top: 2vh;
    margin-left: 4.5vw;
    border-radius: 1%;
    /*padding-top: 1px;*/
    
  
  }

.fundo3{
    width: 50vw;
    height: autovh;
    background-color: rgba(255, 219, 152, 0.808);
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 40px;
    margin-top: 2vh;
    margin-left: -3vw;
    border-radius: 1%;
    /*padding-top: 1px;*/
    
  
  }

.fundo4{
    width: 50vw;
    height: autovh;
    background-color: rgba(255, 219, 152, 0.808);
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 40px;
    margin-top: 2vh;
    margin-left: -3vw;
    margin-bottom: 3vh;
    border-radius: 1%;
    /*padding-top: 1px;*/
}

.row{
    padding-top: 6%;
    margin-left: 6%;
}

.usuario-perfil{
        font-size: 15px;
        margin-left: 34.5%;
        margin-top: -5%; 
        text-align: center;
}

.text-usuario{
    text-align: center;
  }

.text-pedidos{
    text-align: center;
    margin-top: 1%;
}
  
.coluna2{
  margin-left: 1%;
  margin-top: -5.2%;
}
  
.coluna1{
  margin-top: -5%;
}
  
  .btn-primary{
    width: 20.8vw;
    margin-left: 28%;
    margin-bottom: 2%;
  }
  
  .criar-conta{
    margin-left: 31%;
    margin-top: 1%;
    font-size: 15px;
  }
  
  .cadastro-usuario{
    font-size: 15px;
    margin-left: 33%;
    margin-top: 4%; 
  }
  
  .coluna2 input{
    width: 330px;
  }

  .coluna1 input{
    width: 330px;
  }
  

.padding{
  padding-top: 25px;
  margin-left: -6.5%;
}

.bi-cart-fill{
    margin-left: 48.2%;
}


.coluna2{
  margin-left: 1%;
  margin-top: -5.2%;

}

.coluna1{
  margin-top: -5%;
}

.btn-primary{
  width: 20.8vw;
  margin-left: 28%;
  margin-top: 2%;
}

.nomecompleto{
  width: 41.3vw;
  margin-left: 7.5%;
}

.criar-conta{
  margin-left: 31%;
  margin-top: 1%;
  font-size: 15px;
}

.cadastro-usuario{
  font-size: 15px;
  margin-left: 33%;
  margin-top: 4%; 
}

.divlabel{
  margin-bottom: 6.8%;
}

.coluna1 input{
  width: 330px;
}

input{
  width: 100%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
}
input:focus{
  background-color: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(23, 162, 184);
  border-radius: 0px;
}





.zoom{
max-width: 100%;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: translate(10%,10%);
overflow: hidden;
}

.zoom:hover{
-moz-transform: scale(1.20,1.20);
-webkit-transform: scale(1.20,1.20);
transform: scale(1.02);
}

.neon-blue{
cursor: pointer;
overflow: hidden;
}
.neon-blue:hover{
box-shadow: 0 0 3px #0044ff;
}