<body>
  <!-- NAVBAR DA PAGINA -->
  <nav class="navbar navbar-expand navbar-dark fundonav">
    <nav class="navbar navbar-light">
      <a class="navbar-brand">
        <img src="/assets/img/logovert.png" routerLink="" width="80" height="80" class="d-inline-block logo" />
      </a>
      <div class="form-group container-xl"></div>
    </nav>
  </nav>
  <!-- NAVBAR DA PÁGINA -->

  <div class="fundo shadow-1">
    <form>
      <div class="row margin-cliente">
        <div class="usuario-perfil">
          <!--Campo de imagem redondo -->
          <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777"></rect>
          </svg>
          <h4 class="nome-cliente" ngFor="let associado of listarAssociado" *ngFor="let cliente of listarCliente">
            {{ cliente.nomeCadCliente }}
          </h4>

          <p class="email-cliente" ngFor="let associado of listarAssociado" *ngFor="let cliente of listarCliente">
            {{ cliente.emailCadCliente }}
          </p>

          <!-- BOTÃO PARA LOGOUT -->
          <button type="button" class="btn btn-warning" style="margin-top: -15px;" (click)="sair()">
            LOGOUT
          </button>
        </div>
      </div>



      <!-- BOTOES PARA ABRIR O MODAL -->
      <ul>
        <button type="button" class="btnpg btn btn-outline-warning" routerLink="">
          Página Inicial
        </button>
        <!-- BOTÃO MODAL PÁGINA INICIAL -->

        <button type="button" class="btnmds btn btn-outline-warning" data-toggle="modal" data-target="#meusdados">
          Meus Dados
        </button>
        <!-- BOTÃO MODAL MEUS DADOS -->

      </ul>
      <ul>
        <button type="button" class="btnprod-reservados btn btn-outline-warning" data-toggle="modal"
          data-target="#prod-reservados">
          Produtos reservados
        </button>
      </ul>




      <!-- TELA MODAL MEUS DADOS -->
      <div class="modal fade" id="meusdados" tabindex="-1" aria-labelledby="meusDados" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <div class="fundo2">
                <!-- IMAGEM DE USUARIO DENTRO DO MODAL -->
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-file-person-fill img-usuario" height="30" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
                </svg>

                <h5 class="modal-title" id="meusDados-text">MEUS DADOS</h5>
                <button type="button" class="btn btn-info" routerLink="/alterar-perfil-cliente" data-dismiss="modal"> Editar Perfil</button>
                <!-- BOTÃO 'X' DE SAIR DO MODAL -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            </div>

            <div class="modal-body">
              <!-- CORPO DO MODAL -->
              <table class="table-responsive-xl">
                <div class="nomecompleto form-group" style="margin-right: 3vw;" *ngFor="let cliente of listarCliente">
                  <!-- NOME COMPLETO -->
                  <label for="exampleInputEmail1">NOME COMPLETO</label>
                  <input type="text" class="form-control inputnome" placeholder="{{ cliente.nomeCadCliente }}" name="nomeCadCliente" [(ngModel)]="cadastro.nomeCadCliente" disabled />
                </div>

                <div class="row margin-dados" *ngFor="let cliente of listarCliente">
                  <!-- 1ª LINHA DAS INFORMAÇÕES -->
                  <div class="col coluna1">
                    <!-- 1ª COLUNA -->
                    <div class="form-group">
                      <label for="exampleInputEmail1">ENDEREÇO</label>
                      <!-- ENDEREÇO -->
                      <input type="text" class="form-control" name="emailCadCliente"
                        placeholder="{{ cliente.enderecoCadCliente }}" [(ngModel)]="cadastro.enderecoCadCliente"
                        disabled />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">E-MAIL</label><!-- EMAIL -->
                      <input type="email" class="form-control" placeholder="{{ cliente.emailCadCliente }}"
                        name="emailCadCliente" [(ngModel)]="cadastro.emailCadCliente" disabled />
                    </div>
                  </div>

                  <div class="col coluna2">
                    <!--COLUNA 2-->
                    <div class="form-group">
                      <label for="exampleInputPassword1">TELEFONE</label><!-- TELEFONE -->
                      <input type="tel" placeholder="{{ cliente.telCadCliente }}" class="form-control"
                        name="telCadCliente" [(ngModel)]="cadastro.telCadCliente" disabled />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">CPF</label><!-- CPF -->
                      <input type="number" class="form-control" placeholder="{{ cliente.cpfCadCliente }}"
                        name="cpfCadCliente" value="cpfCadCliente" [(ngModel)]="cadastro.cpfCadCliente" disabled />
                    </div>
                  </div>

                </div>
              </table>
            </div>

            <div class="modal-footer">
              <!-- BOTÃO 'FECHAR' DO MODAL -->
              <button type="button" class="btn-fecharmodal btn" data-dismiss="modal">Fechar</button>
            </div>

          </div>
        </div>
      </div>




    <!-- TELA MODAL PRODUTOS RESERVADOS // TELA MODAL PRODUTOS RESERVADOS -->
      <!-- TELA MODAL PRODUTOS RESERVADOS // TELA MODAL PRODUTOS RESERVADOS -->
      <!-- TELA MODAL PRODUTOS RESERVADOS // TELA MODAL PRODUTOS RESERVADOS -->
      <!-- TELA MODAL PRODUTOS RESERVADOS // TELA MODAL PRODUTOS RESERVADOS -->
      <div class="modal fade" id="prod-reservados" tabindex="-1" aria-labelledby="prod-reservados" aria-hidden="true">
        <div class="modal-dialog" style="border: none;">
          <div class="modal-content" style="border: none;">
            <div class="modal-header" style="border: none;">
              <div class="fundo2" style="border: none;">
                <!-- IMAGEM DE USUARIO DENTRO DO MODAL -->
                <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="img-usuario-sacola bi bi-bag-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg>
                <h5 class="modal-title" id="meusDados-text" style="margin-left: 22vw ;">RESERVAS</h5>
                <!-- BOTÃO 'X' DE SAIR DO MODAL -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <!-- CORPO DO MODAL -->
            <div class="modal-body produto-reservas">
              <form id="lista-reserva">
                <table class="table table-dark mt-5 table-responsive-xl">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Nome Produto</th>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Preço</th>
                      <th scope="col">Associado</th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let produto of listarProdutos">
                      <td>{{ produto.produtoId}}</td>
                      <td>{{ produto.codigoProduto}}</td>
                      <td>{{ produto.nomeProduto}}</td>
                      <td>{{ produto.qtdProduto}}</td>
                      <td>{{ produto.precoProduto | currency: 'BRL'}}</td>
                      <td>{{ produto.fabricanteProduto}}</td>
                      <td>
                        <button class="btn btn-danger">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                          </svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>



    </form>
  </div>
</body>
