body, .container-fluid{
  background-image: url("src/assets/img/fundocachorro.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 180vh;
}


.fundo-tudo{
  width: 50vw;
  height: 27vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  border-radius: 10px;
  margin-left: 25vw;
  margin-top: 50px;
}

.fundo2{
  width: 50vw;
  height: 64vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  border-radius: 10px;
  margin-top: 2vh;
  margin-left: 25vw;
}

.fundo3{
  width: 50vw;
  height: 64vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  margin-top: 2vh;
  border-radius: 10px;
  margin-left: 25vw;
}

.padding-incluir{
    padding-top: 25px;
    align-items: center;
}

.usuario-perfil{
  font-size: 15px;
  padding-top: 10px; 
  text-align: center;
}

.text-usuario{
  text-align: center;
  margin-bottom: 50px;
}

.text-pedidos{
  text-align: center;
  margin-top: 1%;
}
  
.coluna2{
  margin-left: 70px;
}
  
.coluna1{
  margin-left: 50px;
}
  
.btn-primary{
  width: 20.8vw;
  margin-left: 28%;
  margin-bottom: 2%;
}
  
.criar-conta{
  margin-left: 31%;
  margin-top: 1%;
  font-size: 15px;
}
  
.cadastro-usuario{
  font-size: 15px;
  margin-left: 33%;
  margin-top: 4%; 
}

.coluna1 input{
  width: 300px;
}

.coluna2 input{
  width: 300px;
}


.bi-cart-fill{
  margin-left: 48.2%;
}

.btn-primary{
  width: 20.8vw;
  margin-left: 28%;
  margin-top: 2%;
}

.criar-conta{
  margin-left: 31%;
  margin-top: 1%;
  font-size: 15px;
}

.cadastro-usuario{
  font-size: 15px;
  margin-left: 33%;
  margin-top: 4%; 
}

.divlabel{
  margin-bottom: 6.8%;
}

input{
  width: 100%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
}
input:focus{
  background-color: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(23, 162, 184);
  border-radius: 0px;
}

.padding{
  padding-top: 25px;
}


/*header*/

.fundonav {
  background-color: #ffd13a;
  padding: 0px;
}

.logo {
  /*foto do logo*/
  margin-left: 19vw;
  margin-bottom: -2%;
}

.fundo-input{
  color: rgb(161, 160, 160);
}

.cardproduto{
  border: 5px solid rgb(255, 199, 96);
  width: 70%;
  height: 40%;
  margin: auto;
  background-color: rgba(49, 49, 49, 0.945);
  
}


h1{
  margin-left: 15%;
  margin-bottom: -2%;
}

.btn-warning{
  width: 10%;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0px 0px 10px rgb(255, 220, 21);
}
.btn-warning:hover{
  background-color: rgb(255, 217, 0);
  box-shadow: 0px 0px 15px rgb(255, 217, 0);
}
