<nav class="navbar navbar-expand navbar-dark fundonav">
    <nav class="navbar navbar-light">
      <a class="navbar-brand ">
        <img src="/assets/img/botao.png" routerLink="" width="70" height="70" class="d-inline-block logo">
      </a>
      <div class="form-group container-xl ">
        <input type="text" class="form-control box-search pesquisa" placeholder="Pesquise no PetFriends">
        <img src="/assets/img/user.png" id="login" class="zoom" routerLink="login-cliente">
        <img src="/assets/img/carrinho-de-compras.png" id="carrinho" class="zoom" routerLink="reserva">
      </div>
      <ul class="nav tp">
        <li class="nav-item dropdown embaixo" id="embaixo">
          <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
            <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
            <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
            <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
            <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
          </div>
        </li>
        <li class="nav-item mt-2" id="embaixo">
          <a></a>
        </li>
        <li class="nav-item dropdown embaixo" id="embaixo">
          <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
            <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
            <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
            <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
            <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
          </div>
        </li>
        <li class="nav-item mt-2" id="embaixo">
          <a></a>
        </li>
        <li class="nav-item dropdown embaixo" id="embaixo">
          <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
            <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
            <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
          </div>
        </li>
        <li class="nav-item mt-2" id="embaixo">
          <a></a>
        </li>
        <li class="nav-item dropdown embaixo" id="embaixo">
          <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
            <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
            <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
          </div>
        </li>
        <li class="nav-item mt-2" id="embaixo">
          <a></a>
        </li>
        <li class="nav-item dropdown embaixo" id="embaixo">
          <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
            <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
            <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
          </div>
        </li>
      </ul>
    </nav>
    <input type="text" class="form-control box-search pesquisa2" placeholder="Pesquise no PetFriends">
  </nav>



<div id="box-white" class="container-fluid padding">
    <div class="row">
        <div class="col mx-auto">
            <img class="mx-auto " src="https://www.petlove.com.br/images/products/210681/product/Ra%C3%A7%C3%A3o_Premier_Golden_Formula_C%C3%A3es_Adultos_Frango_e_Arroz_Mini_Bits_-_15_Kg_1213822_2.jpg?1627675600" style="width: 270px; height: 260px;">
        </div>
        <div class="col">
            <div class="marginb">
                <h4>Ração Golden Fórmula Mini Bits Para Cães 
                    Adultos Pequeno Porte Sabor Carne e Arroz</h4>
                <br>
                <h6>Código:0000000000 | Em estoque</h6>
                <hr>
                <div class="marginleft">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">1kg</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">3kg</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">15kg </label>
                    </div>

                    <a>|</a>

                    <input type="number" min="0" max="100" class="inputmargin text-center">
                </div>
                <br>
                <br>
                <button type="submit" class="bg-warning button"> Adicionar ao carrinho</button>
            </div>            
        </div>
    </div>

    <hr>
    <div class="descricao">
        <h3>Descrição:</h3>
        <h6> - Indicada para cães adultos;</h6>
        <h6> - Ideal para os pets de pequeno porte;</h6>
        <h6> - Grãos adequados que facilitam a mastigação;</h6>
        <h6> - Oferece equilíbrio entre os ômegas 3 e 6;</h6>
        <h6> - Contém o nível ideal de proteínas e nutrientes,</h6>
        <h6> - Disponível em embalagens de 1kg, 3kg e 15kg.</h6>
    </div>
    
    <hr>
    <div class="descricao">
        
    </div>
</div>