#box-white {
    background-color: #fff;
    width: 50vw;
    height: 65vh;
    border-radius: 3%;
    margin: auto;
    margin-top: 5vh;
    border: 5px solid rgba(255, 165, 0, 0.5);
    margin-left: 25%;
}

.padding {
    padding: 20px;
}

.inputmargin {
    margin-left: 20px;
}

.button {
    margin-left: 10%;
    width: 80%;
    height: 20%;
    border: 0px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}

.radiobox {
    margin-left: 31%;
}

.descricao {
    margin-left: 20px;
}

.marginb {
    margin-bottom: 40px;
}



.fundonav {
    background-color: #ffd13a;
    padding: 0px;
    margin: 0px;
}

.dropdown-menu {
    background-color: rgb(254, 255, 199);
    border: 2px solid rgb(255, 255, 255);
}


.logo {
    /*foto do logo*/
    margin-left: 19vw;
}

.box-search {
    /*barra de pesquisa*/
    margin-left: -5%;
    margin-top: 2%;
    width: 70%;
    border: none;
}

.box-search:focus {
    /*barra de pesquisa*/
    box-shadow: 0px 5px 6px rgba(255, 255, 255, 0.274);

}

.tp {
    /*topicos que estruturam os outros*/
    margin-left: 37.7vw;
    padding-bottom: 1%;
}

#embaixo {
    /*topicos embaixo da barra de pesquisa*/
    margin-right: 11.9vw;
    margin-left: -10vw;
    margin-bottom: -1%;
}

#login {
    margin-top: 2%;
    width: 2.5%;
    height: 3%;
    cursor: pointer;
}

#carrinho {
    margin-top: 2%;
    margin-right: 10%;
    width: 25px;
    height: 29px;
    cursor: pointer;
}





/*------RESPONSIVO--------*/
.pesquisa2 {
    margin: 0px;
    width: 0px;
    height: 0px;
    display: none;
}

@media (max-width: 424px) {

    .tp {
        margin-left: 10px;
    }

    .pesquisa {
        margin: 0px;
        width: 0px;
        height: 0px;
        display: none;
        background-color: transparent;
    }

    .pesquisa2 {
        margin: auto;
        margin: 10px;
        margin-left: 10px;
        height: 50px;
        width: 1000px;
        display: block;
    }

    .logo {
        margin-left: -10px;
    }

    #login {
        margin-top: -80px;
        margin-left: 250px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }

    #carrinho {
        margin-top: -80px;
        margin-right: 1px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }
}

@media (max-width: 400px) {

    #login {
        margin-top: -80px;
        margin-left: 220px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }

    #carrinho {
        margin-top: -80px;
        margin-right: 1px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }
}

@media (max-width: 361px) {
    /*config do s8+*/

    #login {
        margin-top: -80px;
        margin-left: 200px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }

    #carrinho {
        margin-top: -80px;
        margin-right: 1px;
        width: 25px;
        height: 29px;
        cursor: pointer;
    }
}