<div id="box-white" class="padding">
    <div class="row">
        <div class="col mx-auto">
            <img class="mx-auto " src="https://www.petlove.com.br/images/products/210681/product/Ra%C3%A7%C3%A3o_Premier_Golden_Formula_C%C3%A3es_Adultos_Frango_e_Arroz_Mini_Bits_-_15_Kg_1213822_2.jpg?1627675600" style="width: 270px; height: 260px;">
        </div>
        <div class="col">
            <div class="marginb">
                <h4>Ração Golden Fórmula Mini Bits Para Cães 
                    Adultos Pequeno Porte Sabor Carne e Arroz</h4>
                <br>
                <h6>Código:0000000000 | Em estoque</h6>
                <hr>
                <div class="marginleft">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">1kg</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">3kg</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">15kg </label>
                    </div>

                    <a>|</a>

                    <input type="number" min="0" max="100" class="inputmargin text-center">
                </div>
                <br>
                <br>
                <button type="submit" class="bg-warning button"> Adicionar ao carrinho</button>
            </div>            
        </div>
    </div>

    <hr>
    <div class="descricao">
        <h3>Descrição:</h3>
        <h6> - Indicada para cães adultos;</h6>
        <h6> - Ideal para os pets de pequeno porte;</h6>
        <h6> - Grãos adequados que facilitam a mastigação;</h6>
        <h6> - Oferece equilíbrio entre os ômegas 3 e 6;</h6>
        <h6> - Contém o nível ideal de proteínas e nutrientes,</h6>
        <h6> - Disponível em embalagens de 1kg, 3kg e 15kg.</h6>
    </div>
    
    <hr>
    <div class="descricao">
        <h3>Avaliações</h3>
    </div>
</div>