<body>
  
  <div class="fundo padding">
    <h3 class="text-usuario ">CADASTRO USUÁRIO</h3>
    <form>
      <div class="nomecompleto form-group">
        <label for="exampleInputEmail1">NOME COMPLETO</label>
        <input type="text" 
               class="form-control inputnome" 
               placeholder="DIGITE SEU NOME" 
               name="nomeCadCliente"
               [(ngModel)]="cadastro.nomeCadCliente">
      </div>

      <div class="row">
        <div class="col coluna1"><!--COLUNA 1-->

          <div class="form-group">
            <label for="exampleInputEmail1">ENDEREÇO</label>
            <input type="text" 
                   class="form-control" 
                   name="emailCadCliente"
                   placeholder="DIGITE SEU ENDEREÇO" 
                   [(ngModel)]="cadastro.enderecoCadCliente">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">E-MAIL</label>
            <input type="email" 
                   class="form-control" 
                   placeholder="E-MAIL" 
                   name="emailCadCliente"
                   [(ngModel)]="cadastro.emailCadCliente">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">SENHA</label>
            <input type="password" 
                   class="form-control" 
                   name="senhaCadCliente"
                   placeholder="DIGITE SUA SENHA" 
                   [(ngModel)]="cadastro.senhaCadCliente">
          </div>

        </div><!--COLUNA 1-->
        

        
        <div class="col coluna2"><!--COLUNA 2-->
          <div class="form-group">
            <label for="exampleInputPassword1">TELEFONE</label>
            <input type="tel" 
                   placeholder="TELEFONE" 
                   class="form-control" 
                   name="telCadCliente"
                   [(ngModel)]="cadastro.telCadCliente">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">CPF</label>
            <input type="number" 
                   class="form-control" 
                   placeholder="CPF" 
                   name="cpfCadCliente"
                   [(ngModel)]="cadastro.cpfCadCliente">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">CONFIRMAR SENHA</label>
            <input type="password" 
                   placeholder="CONFIRME SENHA" 
                   class="form-control" 
                   name="confsenhaCadCliente"
                   [(ngModel)]="cadastro.confsenhaCadCliente">
          </div>



        </div>
      </div>
    </form>
    <button type="submit" routerLink="" class="btn btn-primary"(click)="salvarCadastroCliente()">Cadastrar</button>
    <h3 class="criar-conta">Ainda não possui uma conta associado? <a routerLink="/cadastro-associado">Crie a sua!</a></h3>
  </div>



</body>
