<div class="container-fluid">
  <div class="my-3 text-warning">
    <h2>BOLINHAS</h2>
  </div>

  <div class="row centro"><!--inicio row 1-->
    <div class="col"><!--inicio col 1-->
      <app-card-produto 
        foto='https://static.petz.com.br/fotos/1614962907717.jpg'
        nomeProduto="Brinquedo Pawise Bolinha Woobies para Gatos - Cores Sortidas" 
        [precoProduto]="7.99">
      </app-card-produto>
    </div> <!--fim col 1-->
  
    <div class="col"> <!--inicio col 2-->
      <app-card-produto 
        foto='https://static.petz.com.br/fotos/1646250537047.jpg'
        nomeProduto="Brinquedo Nabi Bolinha Sisal para Gatos" 
        [precoProduto]="21.99">
      </app-card-produto>
    </div><!--fim col 2-->
    
    <div class="col"><!--inicio col 3-->
      <app-card-produto 
        foto='https://static.petz.com.br/fotos/1457992375628.jpg'
        nomeProduto="Brinquedo Chalesco Para Cães Bola Multicor"
        [precoProduto]="29.99">
      </app-card-produto>
    </div><!--fim col 3-->

    <div class="col"><!--inicio col 4-->
      <app-card-produto 
        foto='https://static.petz.com.br/fotos/1601932025286.jpg'
        nomeProduto="Brinquedo de Pelúcia Chalesco Bola - Cores Sortidas" 
        [precoProduto]="27.99">
      </app-card-produto>
    </div><!--fim col 4-->
  </div>
    
  <div class="row centro">
    <div class="col"><!--inicio col 5-->
      <app-card-produto 
        foto='https://static.petz.com.br/fotos/1634140595690.jpg'
        nomeProduto="Brinquedo Furacão Pet Bola de Borracha Maciça Mamona Rosa para Cães" 
        [precoProduto]="24.99">
      </app-card-produto>
    </div><!--fim col 5-->

    <div class="col">
      <!--inicio col 3-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/247363/product/Brinquedo_Bola_Maci%C3%A7a_%C3%81tomo_6_em_1_Pink_para_C%C3%A3es_2618552.jpg?1633099984'
        nomeProduto="Brinquedo Bola Maciça Átomo 6 em 1 Pink para Cães" 
        [precoProduto]="43.99">
      </app-card-produto>
    </div>
    <!--fim col 3-->

    <div class="col">
      <!--inicio col 4-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/195352/product/Brinquedo_Chuckit_Bola_Fetch_Ball_-_2_Unidades_1841277_1.jpg?1627626692'
        nomeProduto="Brinquedo Chuckit Bola Fetch Ball - 2 Unidades" 
        [precoProduto]="80.99">
      </app-card-produto>
    </div>
    <!--fim col 4-->

    <div class="col"><!--inicio col 5-->
      <app-card-produto 
        foto='https://www.petlove.com.br/images/products/141208/product/Bolinha.jpg?1627517990'
        nomeProduto="Brinquedo American Pets Bolinha Inteligente" 
        [precoProduto]="24.90">
      </app-card-produto>
    </div><!--fim col 5-->
    
  </div><!--fim row 2-->
  

</div>