body {
  /*base de tudo na home*/
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.712);
  
}

.carousel {
  margin-right: -15px;
  margin-left: -15px;
}




/*--------MARGEM CARDS----------*/
.mar1 {
  margin-left: 5%;
}


/*TEXTO "PRODUTOS PARA SEUS PETS"*/
.margem-titulo {
  margin-left: 41.7vw;
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: rgb(248, 183, 61);
}

/*TEXTO "SERVIÇOS PARA SEUS PETS"*/
.margem-titulo2 {
  margin-left: 41.7vw;
  margin-top: 6%;
  margin-bottom: 2%;

}



/*------PARTE DE CADASTRO NA HOME-------*/
.fundocad {
  width: 87%;
  height: 100px;
  margin-left: 5.4%;
  margin-top: 80px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.colunadois {
  font-size: larger;
  margin-top: 25px;
}

.colunatres {
  margin-left: 100px;
}

#textocadastro {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 900px;
  margin-left: 120px;
  font-size: 30px;
}

#buttonbtn {
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: -50px;
  background-color: rgb(255, 238, 0);
  box-shadow: 0px 0px 15px rgb(255, 251, 21);
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#buttonbtn:hover {
  background-color: rgb(255, 217, 0);
  box-shadow: 0px 0px 15px rgb(255, 251, 21);
}
/*-----PARTE DE CADASTRO NA HOME-----*/



.footer {
  margin-top: 200px;
  height: 30vh;
  width: 199vh;
  border-top: 2px solid rgb(223, 223, 223);
  margin-right: -15px;
  margin-left: -15px;
  background-color: #ffff;
}

.coluna{
  border: 2px solid rgb(223, 223, 223);
  height: 10vh;
  border-top: none;
  border-bottom: none;
  border-right: none;
  
}

.sac:hover{
  color: rgb(248, 183, 61);

}

.rede{
  text-align: center;
}
.redes{
  align-items: center;
  margin-top: 5%;
}
.image_redonda{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.marca{
  text-align: center;

}

.marcas{
  margin-left: -75px;
  align-items: center;
}


.image_marca{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}



.bi-whatsapp{
  
}




/*------RESPONSIVO--------*/
.carousel2 {
  margin: 0px;
  height: 0px;
  width: 0px;
  background-color: none;
  display: none;
}
.carousel3 {
  margin: 0px;
  height: 0px;
  width: 0px;
  background-color: none;
  display: none;
}
@media (max-width: 424px) {
  .fundocomponent {
    padding-left: 70px;
  }
  .margem-titulo {
    width: 300px;
    margin: -15px;
    margin-bottom: 10px;
  }
  .margem-titulo2 {
    width: 300px;
    margin: -15px;
    margin-bottom: 10px;
  }
  .footer {
    background-color: black;
  }
  .carousel2 {
    margin-left: 5px;
    margin-right: 40vh;
    margin-top: 30px;
    margin-bottom: 250px;
    width: 255px;
    height: 45px;
    size: auto;
    display: block;
  }
  .carousel3 {
    margin-left: 15px;
    margin-right: 40vh;
    margin-top: 30px;
    margin-bottom: 300px;
    width: 255px;
    height: 45px;
    size: auto;
    display: block;
  }
  .itens {
    margin: 0px;
    width: 0px;
    height: 0px;
    background: transparent;
    display: none;
  }
  .mar5 {
    margin: 0px;
    width: 0px;
    height: 0px;
    background: transparent;
    display: none;
  }
  .carousel {
    background-color: transparent;
    width: 0;
    height: 0;
    display: none;
  }
  .fundocad {
    width: 87%;
    height: 100px;
    margin-left: 5.4%;
    margin-top: 80px;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  .colunaum {
    display: none;
  }
  .colunadois {
    font-size: larger;
    margin-top: 25px;
    display: none;
  }
  .colunatres {
    margin-left: 100px;
  }
  #textocadastro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 900px;
    margin-left: 120px;
    font-size: 30px;
  }
}


