.fundocomponent{ /*base de tudo na home*/
  width: 100vw;
  height: 2000px;
  background-color: rgba(255, 255, 255, 0.712);
  
}


/*--------MARGEM CARDS----------*/
.mar1{
  margin-left: 5%;
  
}
.mar3{
  
}
.mar5{
  
}
/*--------MARGEM CARDS----------*/




/*TEXTO "PRODUTOS PARA SEUS PETS"*/
.margem-titulo{
  margin-left: 41.7vw;
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: rgb(248, 183, 61);
}
/*TEXTO "SERVIÇOS PARA SEUS PETS"*/
.margem-titulo2{
  margin-left: 41.7vw;
  margin-top: 6%;
  margin-bottom: 2%;

}



/*PARTE DE CADASTRO NA HOME*/
.fundocad{
  width: 87%;
  height: 100px;
  margin-left: 5.4%;
  margin-top: 80px;
  border-radius: 10px;
  background-color: antiquewhite;
}
.colunaum{
  
}
.colunadois{
  font-size:larger;
  margin-top: 25px;
}
.colunatres{
  margin-left: 100px;
}

#textocadastro{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 900px;
  margin-left: 120px;
  font-size: 30px;
}

#buttonbtn{
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: -50px;
  background-color:rgb(255, 238, 0);
  box-shadow: 0px 0px 15px rgb(255, 251, 21);
  border-radius: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#buttonbtn:hover{
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: -50px;
  background-color:rgb(255, 217, 0);
  box-shadow: 0px 0px 15px rgb(255, 251, 21);
  border-radius: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*PARTE DE CADASTRO NA HOME*/



.footer{
  margin-top: 200px;
  width: 100%;
  height: 30vh;
  background-color: rgb(255, 219, 152);
}

.zoom{
  max-width: 100%;
  transition: translate(5%,5%);
}

.zoom:hover{
  transform: scale(1.01);
  transition: transform .2s ease;
}



