<body>
  <!--  -->
  <app-header></app-header> <!-- NAVBAR -->

  <div class="fundo-carrinho padding "> <!-- FUNDO DO CARRINHO -->
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>

    <h5 class="text-carrinho">CARRINHO</h5> <!-- TEXTO -->

    <form id="formulario"> <!-- FORMULARIO -->
      <table class="table table-dark mt-5">
        <thead>
          <tr> <!-- TÓPICOS DAS INFORMAÇÕES -->
            <th scope="col">ID</th>
            <th scope="col">Itens</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Associado</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody> <!-- INFORMAÇÕES DO BACKEND -->
          <tr *ngFor="let produtoCarrinho of listarProduto">
            <div> <!--*ngIf="produto.reservado;else elseBlock"-->
            <td>{{ produtoCarrinho.produtoId}}</td>
            <td>{{ produtoCarrinho.codigoProduto}}</td>
            <td>{{ produtoCarrinho.nomeProduto}}</td>
            <td>{{ produtoCarrinho.qtdProduto}}</td>
            <td>{{ produtoCarrinho.precoProduto | currency: 'BRL'}}</td>           <!-- FAZER UM BOTÃO QUE ''APENAS'' RETIRE DA TELA DO CARRINHO -->
            <td>{{ produtoCarrinho.fabricanteProduto}}</td>
            <td>
              <button class="btn btn-secondary" routerLink="{{produtoCarrinho.produtoId}}"> <!-- BOTÃO REMOVER DO CARRINHO -->
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" /><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </button>
            </td>
          </div>
          </tr>
        </tbody>
      </table>
    </form>


    <div>
      <button type="button" class="btn btn-danger" routerLink="">Continuar Comprando<!-- CONTINUAR COMPRANDO -->
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="25" height="25" fill="currentColor" class="" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
      </button>

      <button type="button" class="btn btn-success" routerLink="">Reservar Produto<!-- RESERVAR PRODUTO -->
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="20" height="25" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z" />
        </svg>
      </button>
    </div>

  </div>
</body>
