<body>
  <!--  -->
  <app-header></app-header> <!-- NAVBAR -->

  <div class="fundo-carrinho padding"> <!-- FUNDO DO CARRINHO -->
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>

    <h5 class="text-carrinho">CARRINHO</h5> <!-- TEXTO -->

    <form id="formulario"> <!-- FORMULARIO -->
      <table class="table table-dark mt-5">
        <thead>
          <tr> <!-- TÓPICOS DAS INFORMAÇÕES -->
            <th scope="col">Produto</th>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Total</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>

        <tbody> <!-- INFORMAÇÕES DO BACKEND -->
          <tr *ngFor="let produto of listarProduto; let i = index" >
            <td>{{ i + 1 }}</td>
            <td (submit)="salvarCadastroPedido(produto.codigoProduto)">{{produto.codigoProduto}}</td>
            <td (submit)="salvarCadastroPedido(produto.nomeProduto)">{{ produto.nomeProduto}}</td>
            <td (submit)="salvarCadastroPedido(produto.qtdProduto)">{{ produto.qtdProduto}}</td>
            <td (submit)="salvarCadastroPedido(produto.precoProduto)">{{ produto.precoProduto | currency: 'BRL'}}</td>
            <td (submit)="salvarCadastroPedido(produto.fabricanteProduto)">{{ produto.fabricanteProduto}}</td>
            <td></td>
            <td>
              <button class="btn btn-danger" (click)="removeItem(produto)">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
              <td colspan="6"></td>
              <td><strong name="grandTotal"(submit)="salvarCadastroPedido(grandTotal)">Total : {{grandTotal | currency: 'BRL'}} </strong></td>
          </tr>
        </tbody>
      </table>
    </form>


    <div>
      <button type="button" class="btn btn-danger" routerLink="">Continuar Comprando<!-- CONTINUAR COMPRANDO -->
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="25" height="25" fill="currentColor" class="" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
      </button>

      <button  *ngFor="let produto of listarProduto" type="submit" class="btn btn-success"  (click)="salvarCadastroPedido(produto)">Reservar Produto<!-- RESERVAR PRODUTO -->
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="20" height="25" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z" />
        </svg>
      </button>
    </div>

  </div>
</body>
