/*header*/
.fundonav {/* FUNDO NAVBAR */
  background-color: #ffd13a;
  padding: 0px;
}

.logo {/* IMG LOGO NAVBAR */
  margin-left: 19vw;
  margin-bottom: -5%;
  margin-top: -2%;
}




body{/* CONFIG DA PÁGINA */
    background: #ffffff url("src/assets/img/fundocachorro.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    padding-bottom: 53vh;
}


.fundo-carrinho{/* FUNDO DO CARRINHO (AMARELO) */
    margin-top: 5%;
    width: 50vw;
    padding-bottom: 30vh;
    height: auto;
    background-color: rgba(255, 219, 152, 0.808);
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 40px;
    margin-left: 25vw;
    border-radius: 1%;
  }

.bi-cart-fill{/* ÍCONE DE CARRINHO */
    margin-top: 1%;
    margin-left: 48.5%;
}
.text-carrinho{/* TEXTO 'CARRINHO' */
    text-align: center;
    margin-top: 1%;
}



.btn-success{/* BOTÃO DE RESERVAR */
    float: right;
    margin-right: 2%;
    display: inline-flex;
}
.btn-danger{/* BOTÃO DE VOLTAR */
    display: inline-block;
    margin-left: 2%;
    background-color: gray;
    border: gray;
}

