<h1 class="my-3 text-warning">
    CARRINHO

  </h1>

  <div class="card shadow" id="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Itens</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let produtoCarrinho of listarCarrinho">
          <td>{{ produtoCarrinho.id}}</td>
          <td>{{ produtoCarrinho.nomeProduto}}</td>
          <td>{{ produtoCarrinho.qtdProduto}}</td>
          <td>{{ produtoCarrinho.precoProduto | currency: 'BRL'}}</td>
          <td>
                <button class="btn" id="trash">
                    <img src="assets/img/icons8-lixo.png">
                </button>
            </td>
        </tr>
        <button type="button" class="btn btn-danger" id="contcomp" routerLink="">Continuar Comprando</button>
        <td></td>
        <td></td>
        <td>
            <div class="totalCompra ml-5" id="totalCompra">
                <h5>Total: R$0,00</h5>
            </div>
            <button routerLink="" class="btn btn-success mt-2" id="resbut">
                <img src="/assets/img/icons8-comprar.png" id="imagemBotao">Reservar Produto
            </button>
        </td>
        
        
        
    
    
    
    </tbody>
    </table>
  </div>
<br>
  

    

