.my-3{
    text-align: center;
}


#imagemBotao{
    width: 25px;
}

#totalCompra{
    margin-top: 11vh;
}

.table-striped{
    margin-left: 0%;
}

#card{
    margin-left: 37%;
    margin-right: -35%;
}

#trash{
    width: 25px;
    
}

#contcomp{
    margin-top: 17vh;
    margin-left: 0.5vw;
}

#contcomp:hover{
    box-shadow: 0 0 10px #ff0000;
}

#resbut:hover{
    box-shadow: 0 0 10px #51ff00;
}