body{
    background: #ffffff url("src/assets/img/fundocachorro.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.cardproduto{
    border: 5px solid rgb(255, 199, 96);
    width: 80%;
    margin: 10%;
    background-color: rgba(49, 49, 49, 0.904);
}

#listar{
    color: #ffe138;
    text-shadow: 1px 1px 5px #000;
    margin-bottom: -2%;
    margin-top: 5%;
    text-align: center;
}

#incluir{
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 40px;
    background-color: rgb(255, 214, 79);
    border-radius: 10px;
    box-shadow: 2px 3px 18px rgb(117, 117, 117);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*header*/

.fundonav {
    background-color: #ffd13a;
    padding: 0px;
  }
  
  .logo {
    /*foto do logo*/
    margin-left: 19vw;
    margin-bottom: -5%;
    margin-top: -2%;
  }