<button type="button" routerLink="/incluir-produto">Incluir Produto</button>
<table class="table table-dark mt-5 bordinha">
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col">Nome Produto</th> <!--NOME PRODUTO-->
        <th scope="col">Quantidade</th> <!--QUANTIDADE PRODUTO-->
        <th scope="col">Preço</th> <!--PREÇO PRODUTO-->
        <th scope="col">Associado</th> <!--NOME ASSOCIADO-->
        <th scope="col">Ações</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = "let produto of listarProdutos">
            <td>{{ produto.id}}</td>
            <td>{{ produto.nomeProduto}}</td>
            <td>{{ produto.qtdProduto}}</td>
            <td>{{ produto.precoProduto | currency: 'BRL'}}</td>
            <td>{{ produto.assocProduto}}</td>
            <td>
              <button class="btn btn-secondary" routerLink="{{produto.id}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-warning ml-2">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </button>
            </td>
        </tr>
     



    </tbody>
  </table>
