<body>
  
  <div class="fundo padding">
    <h3 class="text-usuario ">CADASTRO USUÁRIO</h3>
    <form>
      <div class="nomecompleto form-group">
        <label for="exampleInputEmail1">NOME COMPLETO</label>
        <input type="text" class="form-control inputnome" placeholder="DIGITE SEU NOME" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="row">
        <div class="col coluna1"><!--COLUNA 1-->

          <div class="form-group">
            <label for="exampleInputEmail1">ENDEREÇO</label>
            <input type="text" class="form-control" placeholder="DIGITE SEU ENDEREÇO" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">E-MAIL</label>
            <input type="email" class="form-control" placeholder="E-MAIL" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">SENHA</label>
            <input type="password" class="form-control" placeholder="DIGITE SUA SENHA" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

        </div><!--COLUNA 1-->
        

        
        <div class="col coluna2"><!--COLUNA 2-->
          <div class="form-group">
            <label for="exampleInputPassword1">TELEFONE</label>
            <input type="tel" placeholder="TELEFONE" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">CPF</label>
            <input type="number" class="form-control" placeholder="CPF" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">CONFIRMAR SENHA</label>
            <input type="password" placeholder="CONFIRME SENHA" class="form-control" id="exampleInputPassword1">
          </div>



        </div>
      </div>
    </form>
    <button type="submit" routerLink="" class="btn btn-primary">Cadastrar</button>
    <h3 class="criar-conta">Ainda não possui uma conta associado? <a routerLink="/cadastro-associado">Crie a sua!</a></h3>
  </div>



</body>
