<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark fundonav">
    <nav class="navbar navbar-light">
      <a class="navbar-brand">
        <img
          src="/assets/img/logovert.png"
          routerLink=""
          width="80"
          height="80"
          class="d-inline-block logo"
        />
      </a>
      <div class="form-group container-xl"></div>
    </nav>
  </nav>
  <!-- NAVBAR -->


  <!-- FUNDO CADASTRO -->
  <div class="fundo">
    <form>
      <h3 class="text-usuario padding">CADASTRO USUÁRIO</h3> <!-- TITULO CADASTRO -->

      <div
        class="nomecompleto form-group"
        [formGroup]="cadastroForm"
        (submit)="salvarCadastroCliente()"
      >
        <label for="exampleInputEmail1">NOME COMPLETO</label> <!-- NOME COMPLETO -->
        <input
          type="text"
          class="form-control inputnome"
          placeholder="Digite o seu nome"
          name="nomeCadCliente"
          formControlName="nomeCadCliente"
        />
      </div>

      <div class="row">
        <div class="col coluna1">
          <!--COLUNA 1-->

          <div
            class="form-group"
            [formGroup]="cadastroForm"
            (submit)="salvarCadastroCliente()"
          >
            <label for="exampleInputEmail1">ENDEREÇO</label> <!-- ENDEREÇO -->
            <input
              type="text"
              class="form-control"
              name="emailCadCliente"
              placeholder="Digite o seu endereço"
              formControlName="enderecoCadCliente"
            />
          </div>

          <div
            class="form-group"
            [formGroup]="cadastroForm"
            (submit)="salvarCadastroCliente()"
          >
            <label for="exampleInputEmail1">E-MAIL</label> <!-- E-MAIL -->
            <input
              type="email"
              class="form-control"
              placeholder="Digite seu email"
              name="emailCadCliente"
              formControlName="emailCadCliente"
            />
          </div>

          <div
            class="form-group"
            [formGroup]="cadastroForm"
            (submit)="salvarCadastroCliente()"
          >
            <label for="exampleInputEmail1">SENHA</label> <!-- SENHA -->
            <input
              type="password"
              class="form-control"
              name="senhaCadCliente"
              placeholder="Digite sua senha"
              formControlName="senhaCadCliente"
            />
          </div>
        </div>
        <!--COLUNA 1-->

        <div class="col coluna2">
          <!--COLUNA 2-->
          <div
            class="form-group telefone"
            [formGroup]="cadastroForm"
            (submit)="salvarCadastroCliente()"
          >
            <label for="exampleInputPassword1">TELEFONE</label> <!--TELEFONE-->
            <input
              type="tel"
              placeholder="(11) 99999-9999"
              class="form-control"
              name="telCadCliente"
              formControlName="telCadCliente"
              mask="(00) 00000-0000"
            />
          </div>

          <div
            class="form-group"
            [formGroup]="cadastroForm"
            (submit)="salvarCadastroCliente()"
          >
            <label for="exampleInputEmail1">CPF</label> <!--CPF-->
            <input
              type="text"
              class="form-control"
              placeholder="Digite seu CPF"
              name="cpfCadCliente"
              formControlName="cpfCadCliente"
              mask="000.000.000-00"
            />
          </div>

          <!-- <div class="form-group">
            <label for="exampleInputPassword1">CONFIRMAR SENHA</label>
            <input type="password"
                   placeholder="Digite sua senha novamente"
                   class="form-control"
                   name="confsenhaCadCliente"
                   >
          </div> -->
        </div>
      </div>
    </form>
    <!-- BOTÃO CADASTRAR -->
    <button
      type="submit"
      [disabled]="!cadastroForm.valid"
      class="btn btn-warning button"
      (click)="salvarCadastroCliente()"
    >
      Cadastrar
    </button>

    <!-- ROUTER CADASTRO ASSOCIADO  -->
    <h3 class="criar-conta">
      Ainda não possui uma conta associado?
      <a routerLink="/cadastro-associado">Crie a sua!</a>
    </h3>
  </div>
</body>
