body{
  background: #ffffff url("src/assets/img/fundocachorro.jpg");
  background-size: cover;
  width: 100vw;
  height: 84vh;
  padding-top: 10%;
}

.padding{
  padding-top: 25px;
}

.fundo{
  position: relative;
  width: 50%;
  height: 80%;
  background-color: rgba(255, 219, 152, 0.808);
  margin-left: 25%;
  border-radius: 20px;
  box-shadow: 2px 3px 18px rgb(117, 117, 117);
}

.row{
  padding-top: 6%;
  margin-left: 6%;
}

h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.text-usuario{
  margin-left: 40%;
}

.coluna2{
  margin-left: 1%;
  margin-top: -5.2%;
}

.coluna1{
  margin-top: -5%;
}

.btn-warning{
  width: 20.8vw;
  margin-left: 28%;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.452);
  
}

.criar-conta{
  margin-left: 31%;
  margin-top: 1%;
  font-size: 15px;
}

.cadastro-usuario{
  font-size: 15px;
  margin-left: 33%;
  margin-top: 4%; 
}

.nomecompleto{
  margin-left: 7.6%;
}

.inputnome{
  width: 91.6%;
}

.coluna1 input{
  width: 330px;
}

input{
  width: 350px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
}
input:focus{
  background-color: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(255, 150, 52);
  border-radius: 0px;
}




