<body>
  <div class="card" id="telaLogin">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <img src="/assets/img/logovert.png" class="img" />
          <label for="exampleInputEmail2" class="form-label">Usuário:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail2"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Senha: </label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword2"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2" />
          <label class="form-check-label" for="exampleCheck2">Lembrar-me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block neon-blue zoom">Logar Associado</button>
      </form>

      <button
        type="button"
        class="btn btn-link"
        routerLink="/cadastro-associado">Cadastre-se</button>

      <button type="button" class="btn btn-link" id="margleft" routerLink="/login-cliente">É Cliente?</button>
    </div>
  </div>
  <button type="button" class="btn btn-link" routerLink="">Voltar para home</button>
</body>
