<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light">

      <img src="/assets/img/logovert.png" routerLink="" width="90" height="90" class="d-inline-block logo">

    <div class="divLinha form-group container-xl">
      <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          placeholder="Pesquise no PetFriends"
          (selected)='itemSelecionadoPesquisa()'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>

      <svg xmlns="http://www.w3.org/2000/svg" id="login" class="zoom" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" routerLink="/perfil-associado">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>

      <b>{{totalProduto}}</b>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16" id="carrinho" class="zoom" routerLink="/reserva">
        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
      </svg>
    </div>



    <ul class="nav topicos">

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>

    </ul>

  </nav>
</nav>




<div class="container-fluid">
  <div class="my-3 text-warning"><h2>TRANSPORTE</h2></div>

  <div class="row centro"><!--inicio row 1-->
    <div class="col"><!--inicio col 1-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1456405564753.jpg'
          nomeProduto="Caixa de Transporte Luxo Furacão Pet Preto e Rosa"
          [precoProduto]="109.90"
          >
        </app-card-produto>
    </div><!--fim col 1-->

    <div class="col"><!--inicio col 2-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1508259149889.jpg'
          nomeProduto="Assento Tubline Transpet Big para Cães e Gatos One Couro"
          [precoProduto]="179.00">
        </app-card-produto>
    </div><!--fim col 2-->

    <div class="col"><!--inicio col 3-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1626443197136.jpg'
          nomeProduto="Bolsa de Transporte Fábrica Pet Mickey Listra Preta para Cães e Gatos"
          [precoProduto]="167.99">
        </app-card-produto>
    </div><!--fim col 3-->

    <div class="col"><!--inicio col 4-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1643227822983.jpg'
          nomeProduto="Bolsa de Transporte Fábrica Pet Exclusive Verde para Cães e Gatos"
          [precoProduto]="239.99">
        </app-card-produto>
    </div><!--fim col 4-->
  </div>

  <div class="row centro">
    <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/235035/product/Caixa_de_Transporte_Cat_Love_Travel_Lil%C3%A1s_2637063.jpg?1627754130'
        nomeProduto="Caixa de Transporte Cat Love Travel Lilás"
        [precoProduto]="55.90">
      </app-card-produto>
    </div><!--fim col 5-->

    <div class="col"><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1626698282572.jpg'
        nomeProduto="Bolsa de Transporte Fábrica Pet Disney Laranja para Cães e Gatos"
        [precoProduto]="324.99">
      </app-card-produto>
    </div><!--fim col 3-->

    <div class="col"><!--inicio col 4-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1582748466490.jpg'
        nomeProduto="Caixa de Transporte Panther Pop Plast Pet Rosa para Cães e Gatos"
        [precoProduto]="69.99">
      </app-card-produto>
    </div><!--fim col 4-->

    <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1579013996154.jpg'
        nomeProduto="Caixa de Transporte Panther Pop Plast Pet Taupe para Cães e Gatos"
        [precoProduto]="69.99">
      </app-card-produto>
    </div><!--fim col 5-->
  </div><!--fim row 1-->



</div>




