<div class="my-3 text-warning"><h2>TRANSPORTE</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1"><!--inicio col 1-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1456405564753.jpg'
        nomeProduto="Caixa de Transporte Luxo Furacão Pet Preto e Rosa"
        [precoProduto]="109.90"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom "><!--inicio col 2-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1508259149889.jpg'
        nomeProduto="Assento Tubline Transpet Big para Cães e Gatos One Couro"
        [precoProduto]="179.00">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom "><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1626443197136.jpg'
        nomeProduto="Bolsa de Transporte Fábrica Pet Mickey Listra Preta para Cães e Gatos"
        [precoProduto]="167.99">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom mar3"><!--inicio col 4-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1643227822983.jpg'
        nomeProduto="Bolsa de Transporte Fábrica Pet Exclusive Verde para Cães e Gatos"
        [precoProduto]="239.99">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar2"><!--inicio col 5-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/235035/product/Caixa_de_Transporte_Cat_Love_Travel_Lil%C3%A1s_2637063.jpg?1627754130'
      nomeProduto="Caixa de Transporte Cat Love Travel Lilás"
      [precoProduto]="55.90">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom "><!--inicio col 3-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1626698282572.jpg'
      nomeProduto="Bolsa de Transporte Fábrica Pet Disney Laranja para Cães e Gatos"
      [precoProduto]="324.99">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom "><!--inicio col 4-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1582748466490.jpg'
      nomeProduto="Caixa de Transporte Panther Pop Plast Pet Rosa para Cães e Gatos"
      [precoProduto]="69.99">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar3"><!--inicio col 5-->
  <app-card-produto
    foto='https://static.petz.com.br/fotos/1579013996154.jpg'
    nomeProduto="Caixa de Transporte Panther Pop Plast Pet Taupe para Cães e Gatos"
    [precoProduto]="69.99">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->








