.fundo{
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 219, 152);
    margin-top: 12vh;
    margin-left: 4.5vw;
    border-radius: 2%;
    
}

.row{
    padding-top: 6%;
    margin-left: 6%;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: -6%;
}

.text-usuario{
    margin-top: -15%;
    margin-left: 28%;
}

.coluna2{
    margin-left: 8%;
    padding-top: -2%;
}

.coluna1{
    margin-top: 6%;
}

.btn-primary{
    width: 20.8vw;
}

.criar-conta{
    margin-left: 16%;
    margin-top: 10%;
    font-size: 15px;
}

.cadastro-usuario{
    font-size: 15px;
    margin-left: 33%;
    margin-top: 4%; 
}


input{
    width: 400px;
}








.zoom{
max-width: 100%;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: translate(10%,10%);
overflow: hidden;
}

.zoom:hover{
-moz-transform: scale(1.20,1.20);
-webkit-transform: scale(1.20,1.20);
transform: scale(1.02);
}

.neon-blue{
cursor: pointer;
overflow: hidden;
}
.neon-blue:hover{
box-shadow: 0 0 3px #0044ff;
}



/*CONFIGURAÇÃO BOTÃO DO GUGU*/

#customBtn {
    display: inline-block;
    background: #4285f4;
    color: white;
    width: 250px;
    border-radius: 5px;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-weight: bold;
  }
  span.icon {
    background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-right: #2265d4 1px solid;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
