/*  */
/* HEADER */
.fundonav {
  /* FUNDO NAVBAR */
  background-color: #ffd13a;
  padding: 0px;
}
.logo {
  /* LOGO NAVBAR */
  margin-left: 19vw;
  margin-bottom: -5%;
  margin-top: -2%;
}

#imagemfundo {
  /* IMAGEM DA PAGINA */
  background: #ffffff url("src/assets/img/fundocachorro.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.fundo {
  /* FUNDO AMARELO QUE CONTÉM AS INFORMAÇÕES */
  margin-top: 6%;
  width: 50%;
  background-color: rgba(255, 219, 152, 0.808);
  height: 48%;
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  border-radius: 40px;
  margin-left: 25%;
}

/*COLUNA ESQUERDA*/
.row {
  /* LINHA */
  padding-top: 5%;
  margin-left: 6%;
}

.coluna1 {
  /* COLUNA ESQUERDA */
  margin-top: 6%;
}
.text-cliente {
  /* TEXTO CLIENTE */
  margin-top: -10%;
  margin-left: 27%;
}

input {
  /* CAMPOS */
  width: 100%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
}
input:focus {
  /* SELECIONADOS */
  background-color: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(23, 162, 184);
  border-radius: 0px;
}

.btn-warning {
  /* BOTÃO ENTRAR */
  width: 100%;
  box-shadow: 2px 3px 10px rgb(221, 163, 3);
}

.criar-conta {
  /* LINK CRIAR CONTA */
  margin-left: 16%;
  margin-top: 5%;
  font-size: 15px;
}

.cadastro-associado {
  /* LINK ASSOCIADO */
  font-size: 15px;
  margin-left: 29%;
  margin-top: 5%;
  margin-bottom: 12%;
}

/*COLUNA DIREITA*/
.coluna2 {
  /*logo*/
  margin-left: 8%;
  padding-top: 2.4%;
}
h3 {
  /* TEXTO 'ENTRE OU CRIE SUA CONTA NO PETFRIENDS' */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: -6%;
}

/*RESPONSIVO*/
@media (max-width: 424px) {
  /* HEADER */

  .fundonav {
    /* FUNDO NAVBAR */
    background-color: #ffd13a;
    padding: 0px;
  }
  .logo {
    /* IMG LOGO NAVBAR */
    margin-left: 0vw;
    margin-bottom: -5%;
    margin-top: -2%;
  }

  /*BODY*/

  .image {
    /*IMAGEM LOGO*/
    display: none;
  }

  button {
    width: 300vw;
  }

  .fundo {
    /* FUNDO AMARELO  */
    margin-top: 30%;
    width: 80vw;
    background-color: rgba(255, 219, 152, 0.808);
    height: 45%;
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 40px;
    margin-left: 45px;
    padding-top: 2vh;
  }

  .row {
    /* LINHA */
    padding-top: 6%;
    margin-right: 20px;
  }

  .coluna1 {
    /* COLUNA ESQUERDA */
    margin-top: 6%;
  }
  .text-cliente {
    /* TEXTO 'CLIENTE' */
    margin-top: -10%;
    margin-left: 20%;
    margin-bottom: 2vh;
  }

  input {
    /* CONFIG DO INPUT  */
    width: 100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 0px;
  }
  input:focus {
    /* QUANDO SELECIONADO */
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
    border-bottom: 2px solid rgb(23, 162, 184);
    border-radius: 0px;
  }

  .coluna2 {
    /* COLUNA DIREITA */
    margin-left: 0%;
    padding-top: -2%;
  }
  h3 {
    /* TEXTO 'ENTRE OU CRIE SUA CONTA NO PETFRIENDS' */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: -6%;
  }

  .btn-warning {
    /* BOTÃO DE LOGIN */
    margin-top: 2%;
    width: 20.8vw;
    box-shadow: 2px 3px 10px rgb(221, 163, 3);
  }
  .criar-conta {
    /* LINK PARA CRIAR CONTA ASSOCIADO */
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 1%;
    font-size: 15px;
  }

  .cadastro-associado {
    /* LINK ASSOCIADO */
    font-size: 15px;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
}
