<div id="imagemfundo">
    <form class="fundo shadow-2">
      <div class="row">
        <div class="col coluna1">
          <h1 class="text-usuario">USUÁRIO</h1>

          <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" placeholder="E-mail" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" placeholder="Senha" class="form-control" id="senha">
          </div>

          <button type="submit" class="btn btn-warning">Entrar</button>
          <br>
          <br>

          <h3 class="criar-conta">Ainda não possui uma conta? <a routerLink="/cadastro-cliente">Crie a sua!</a></h3>
          <h3 class="cadastro-usuario"><a routerLink="/login-associado">Entrar como Associado</a></h3>
        </div>

        <div class="col coluna2">
          <h3>Entre ou crie sua conta no PetFriends</h3>
          <img src="/assets/img/logovert.png" style="width: 270px; height: 260px;">
        </div>
      </div>
    </form>


    
</div>



