<div class="my-3 text-warning"><h2>CAMAS E CASINHAS</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1 "><!--inicio col 1-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/215603/product/Toca_do_Gato_Furac%C3%A3o_Pet_Rosa_-_Rosa_2424465.jpg?1627692669'
        nomeProduto="Toca do Gato Furacão Pet Rosa"
        [precoProduto]="73.90"
        >
      </app-card-produto>

      <div class="card">
        <div class="card-body">
          <details>
            <summary>Ver Detalhes</summary>
            - Resistente;
            <br>
            - Fácil de montar;
            <br>
            - Design moderno;
            <br>
            - De prática higienização;
            <br>
            - Base e cobertura ventilada.
          </details>
          <button routerLink="" class="btn btn-success mt-2" id="resbut">
            <img src="/assets/img/icons8-comprar.png" id="imagemBotao">Reservar Produto
        </button>
        </div>
      </div>
      
      <br>
      <br>
      <br>
  </div><!--fim col 1-->

  <div class="col zoom "><!--inicio col 2-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/197744/large/Toca_Ecol%C3%B3gica_Recriar_Pet_2_Andares_Rosa_para_Gatos_1913399_3.jpg?1627635115'
        nomeProduto="Toca Ecológica Recriar Pet 2 Andares Rosa para Gatos"
        [precoProduto]="243.00">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom "><!--inicio col 3-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/233857/product/Cama_Catbed_Chevron_Wave_para_Gatos_2625970.jpg?1627750073'
        nomeProduto="Cama Catbed Chevron Wave para Gatos"
        [precoProduto]="153.00">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom mar3"><!--inicio col 4-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/207901/product/Cama_com_Cabeceira_2G_Acess%C3%B3rios_Pet_Dream_Drog_Cor_4_-_Azul_2309988_%281%29.jpg?1627666294'
        nomeProduto="Cama com Cabeceira 2G Acessórios Pet Dream Drog"
        [precoProduto]="180.00">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar2"><!--inicio col 5-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1633381262290.jpg'
      nomeProduto="Cama Lisa Petz Cinza"
      [precoProduto]="179.99">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom "><!--inicio col 3-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1567174074730.jpg'
      nomeProduto="Cama Lisa Oval Sarja para Cães e Gatos Caqui"
      [precoProduto]="169.99">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom "><!--inicio col 4-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/10037100000162-1.jpg'
      nomeProduto="Dogvilla Ferplast Casa Para Cães"
      [precoProduto]="1229.99">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar3"><!--inicio col 5-->
  <app-card-produto
    foto='https://static.petz.com.br/fotos/1443788736268.jpg'
    nomeProduto="Casa Furacão para Cães Preta"
    [precoProduto]="169.90">
  </app-card-produto>
</div><!--fim col 5-->

</div><!--fim row 1-->
