<!--<nav class="navbar navbar-expand-xl navbar-dark fundo">
  <nav class="navbar navbar-light bg-translucent ">
    <a class="navbar-brand ">
      <img src="/assets/img/botao.png" routerLink="" width="70" height="70" class="d-inline-block logo">
    </a>

    <div class="form-group container-xl ">

      <input type="text" class="form-control box-search" placeholder="Pesquise no PetFriends">

      <img src="/assets/img/user.png" id="login" class="zoom" routerLink="login-cliente">
      <img src="/assets/img/carrinho-de-compras.png" id="carrinho" class="zoom" routerLink="reserva">

    </div>
    <ul class="nav tp">
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/banho-tosa">Banho & Tosa</a>
          <a class="dropdown-item zoomdrop" routerLink="/spa">Spa</a>
          <a class="dropdown-item zoomdrop" routerLink="/taxi-dog">Táxi Dog</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>
    </ul>




  </nav>
</nav>-->




<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light bg-secondary ">
    <a class="navbar-brand ">
      <img src="/assets/img/botao.png" routerLink="" width="70" height="70" class="d-inline-block logo">
    </a>

    <div class="form-group container-xl ">

      <input type="text" class="form-control box-search pesquisa" placeholder="Pesquise no PetFriends">

      <img src="/assets/img/user.png" id="login" class="zoom" routerLink="login-cliente">
      <img src="/assets/img/carrinho-de-compras.png" id="carrinho" class="zoom" routerLink="reserva">

    </div>
    <ul class="nav tp">
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/banho-tosa">Banho & Tosa</a>
          <a class="dropdown-item zoomdrop" routerLink="/spa">Spa</a>
          <a class="dropdown-item zoomdrop" routerLink="/taxi-dog">Táxi Dog</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>
    </ul>




  </nav>

  <input type="text" class="form-control box-search pesquisa2" placeholder="Pesquise no PetFriends">

</nav>
