.logo{ /*foto do logo*/
  margin-left: 19vw;
}

.fundo{
  background-color: rgb(255, 194, 81);
  padding-bottom: 2%;
}

.box-search{ /*barra de pesquisa*/
  margin-left: -3vw;
  margin-top: 2vh;
  box-shadow: 5 5 15px rgb(49, 49, 49);
  width: 40vw;
}

.tp{ /*topicos que estruturam os outros*/
  margin-left: 33.5vw;
}

#embaixo{ /*topicos embaixo da barra de pesquisa*/
  padding-right: 12vw;
  margin-left: -10vw;
  margin-bottom: -2vh;
}

#login{
  margin-top: 2vh;
  margin-right: 1vw;
  width: 25px;
  height: 29px;
  cursor: pointer;
}

#carrinho{
  margin-top: 2vh;
  margin-right: 12vw;
  width: 25px;
  height: 29px;
  cursor: pointer;
}

.zoom{
  max-width: 100%;
  -moz-transition: all 10s;
  -webkit-transition: all 10s;
  transition: translate(10%,10%);
}

.zoom:hover{
  -moz-transform: scale(1.25,1.25);
  -webkit-transform: scale(1.25,1.25);
  transform: scale(1.2);
  transition: transform .5s ease;
}

.zoomdrop{
  max-width: 100%;
  -moz-transition: all 10s;
  -webkit-transition: all 10s;
  transition: translate(5%,5%);
}

.zoomdrop:hover{
  -moz-transform: scale(1.02,1.02);
  -webkit-transform: scale(1.02,1.02);
  transform: scale(1.01);
  transition: transform .3s ease
}



