.fundo{
  background-color: rgb(255, 207, 75);
  padding-bottom: 20px;
}

.logo{ /*foto do logo*/
  margin-left: 19vw;
}

.box-search{ /*barra de pesquisa*/
  margin-left: -50px;
  margin-top: 20px;
  width: 800px;
  border: none;
}
.box-search:focus{ /*barra de pesquisa*/
  margin-left: -50px;
  margin-top: 20px;
  box-shadow: 0px 3px 15px rgba(68, 68, 68, 0.274);
  width: 800px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.tp{ /*topicos que estruturam os outros*/
  margin-left: 33vw;
}

#embaixo{ /*topicos embaixo da barra de pesquisa*/
  padding-right: 12vw;
  margin-left: -10vw;
  margin-bottom: -2vh;
}

#login{
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 8%;
  width: 25px;
  height: 29px;
  cursor: pointer;
}

#carrinho{
  margin-top: 2%;
  margin-right: 13%;
  width: 25px;
  height: 29px;
  cursor: pointer;
}
