<nav class="navbar navbar-expand-xl navbar-dark bg-warning">
  <nav class="navbar navbar-light bg-translucent">
    <a class="navbar-brand">
      <img src="/assets/img/botao.png"
            routerLink=""
            width="70"
            height="70"
            class="d-inline-block logo zoom">
    </a>

    <div class="form-group container-xl">

      <input type="text" class="form-control box-search" placeholder="Pesquise no PetFriends">

      <img src="/assets/img/user.png" id="login" class="zoom" routerLink="login-cliente">
      <img src="/assets/img/carrinho-de-compras.png" id="carrinho" class="zoom" routerLink="reserva">

    </div>
    <ul class="nav tp">
      <li class="nav-item" id="embaixo">
        <a class="nav-link text-dark zoom" href="#">Cachorro</a>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a>|</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark zoom" href="#">Gato</a>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a>|</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark zoom" href="#">Banho</a>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a>|</a>
      </li>
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoom" routerLink="">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoom" routerLink="">Petiscos</a>
          <a class="dropdown-item zoom" routerLink="">Camas, Tocas e casinhas</a>
          <a class="dropdown-item zoom" routerLink="">Roupas</a>
          <a class="dropdown-item zoom" routerLink="">Acessórios de Alimentação</a>
          <a class="dropdown-item zoom" routerLink="">Acessórios de Transpote</a>
        </div>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a>|</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark zoom" href="#">Brinquedos</a>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a>|</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark zoom" href="#">Ração</a>
      </li>
    </ul>
</nav>


</nav>