<div class="my-3 text-warning"><h2>ESCOVAS E PENTES</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1 "><!--inicio col 1-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/174502/product/Escova-Ferplast-Gro-5942.jpg?1627574328'
        nomeProduto="Escova Ferplast Gro"
        [precoProduto]="44.90"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom"><!--inicio col 2-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/209161/product/Escova-Ferplast-Gro-5941-Removedora-de-Pelos.jpg?1627670480'
        nomeProduto="Escova Ferplast Gro 5941 Removedora de Pelos"
        [precoProduto]="58.90">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom mar3"><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1631886184050.jpg'
        nomeProduto="Luva Mágica Chalesco para Cães e Gatos"
        [precoProduto]="65.99">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom"><!--inicio col 4-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/247315/product/Escova_Pidan_Pelos_Curtos_2693856.jpg?1633018700'
        nomeProduto="Escova Pidan Pelos Curtos"
        [precoProduto]="161.50">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar5"><!--inicio col 5-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1586964466384.jpg'
      nomeProduto="Rasqueadeira Wahl Clipper para Cães e Gatos"
      [precoProduto]="59.99">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom mar3"><!--inicio col 3-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1595951906602.jpg'
      nomeProduto="Luva Wahl Clipper para Limpeza de Cães e Gatos"
      [precoProduto]="69.99">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom"><!--inicio col 4-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1614341132266.jpg'
      nomeProduto="Escova German Hart sem Bolinha para Cães e Gatos"
      [precoProduto]="34.99">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar5"><!--inicio col 5-->
  <app-card-produto
    foto='https://static.petz.com.br/fotos/1594671463407.jpg'
    nomeProduto="Rasqueadeira Emborrachada para Cães e Gatos German Hart"
    [precoProduto]="42.99">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->







