<div class="my-3 text-warning"><h2>HIGIENE</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1"><!--inicio col 1-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/10031220000552-1.jpg'
        nomeProduto="Creme Dental Cães e Gatos Good Care"
        [precoProduto]="40.99"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom "><!--inicio col 2-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1590591344641.jpg'
        nomeProduto="Shampoo Condicionador Ibasa Anti Pulgas para Cães e Gatos 200ml"
        [precoProduto]="41.99">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom "><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/10031220000531-1.jpg'
        nomeProduto="Good Care Limpa Lágrimas Mundo Animal 100ml"
        [precoProduto]="49.90">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom mar3"><!--inicio col 4-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1590671037997.jpg'
        nomeProduto="Álcool Gel Alcat Patas de Pets 200ml"
        [precoProduto]="31.99">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar2"><!--inicio col 5-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/153159/product/7898904626951_2.jpg?1627537766'
      nomeProduto="Cortador de Unhas para Gatos"
      [precoProduto]="19.99">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom "><!--inicio col 3-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/188779/product/C_3107704.jpg?1627610559'
      nomeProduto="Eliminador de Odores Sanol Cat Lavanda"
      [precoProduto]="8.00">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom "><!--inicio col 4-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/233176/product/Desodorante_Matacura_Spray_Antipulgas_para_Gatos_2605927.jpg?1627747800'
      nomeProduto="Desodorante Matacura Spray Antipulgas para Gatos"
      [precoProduto]="26.60">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar3"><!--inicio col 5-->
  <app-card-produto
    foto='https://www.petlove.com.br/images/products/195206/product/Banho_a_Seco_Bellogatto_para_Gatos_-_250_mL_3109824-1_1.jpg?1627626268'
    nomeProduto="Banho a Seco Bellogatto para Gatos"
    [precoProduto]="45.90">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->








