<div class="my-3 text-warning"><h2>FARMÁCIA</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1"><!--inicio col 1-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/191341/product/3110173.jpg?1627616192'
        nomeProduto="Simparic para Cães de 5,1 a 10 Kg (20 mg) - Antipulgas"
        [precoProduto]="95.50"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom "><!--inicio col 2-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/190396/product/31018089.JPG?1627614044'
        nomeProduto="Suplemento Vitamínico Vetnil Glicopan Pet em Gotas"
        [precoProduto]="27.90">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom "><!--inicio col 3-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/228033/product/Verm%C3%ADfugo_Milbemax_C_para_C%C3%A3es_de_5_a_25_Kg_-_2_Comprimidos_3103481.jpg?1627728971'
        nomeProduto="Vermífugo Milbemax C para Cães de 5 a 25 Kg"
        [precoProduto]="55.90">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom mar3"><!--inicio col 4-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/176861/product/7898049717989.jpg?1627581814'
        nomeProduto="Revolution 12% para Cães de 5 a 10 Kg (60 mg) - Antipulgas e Carrapatos"
        [precoProduto]="86.90">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar2"><!--inicio col 5-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1548265394349.jpg'
      nomeProduto="Gaviz V Omeprazol 10mg Strip com 10 Comprimidos"
      [precoProduto]="30.99">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom "><!--inicio col 3-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1558122706123.jpg'
      nomeProduto="Panolog Pomada Elanco 15 g"
      [precoProduto]="88.50">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom "><!--inicio col 4-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1502307657312.jpg'
      nomeProduto="Antipulgas Simparic 120 mg para cães 40,1 a 60 kg - Zoetis"
      [precoProduto]="134.80">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar3"><!--inicio col 5-->
  <app-card-produto
    foto='https://static.petz.com.br/fotos/1584457394227.jpg'
    nomeProduto="Suplemento Alimentar Avert Cistimicin Vet para Cães e Gatos 30 Comprimidos"
    [precoProduto]="103.00">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->








