<div class="my-3 text-warning"><h2>FARMÁCIA</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1 "><!--inicio col 1-->
      <app-card-produto
        foto=''
        nomeProduto=""
        [precoProduto]="179.90"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom"><!--inicio col 2-->
      <app-card-produto
        foto=''
        nomeProduto=""
        [precoProduto]="15.99">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom mar3"><!--inicio col 3-->
      <app-card-produto
        foto=''
        nomeProduto=""
        [precoProduto]="111.90">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom"><!--inicio col 4-->
      <app-card-produto
        foto=''
        nomeProduto=""
        [precoProduto]="18.99">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar5"><!--inicio col 5-->
    <app-card-produto
      foto=''
      nomeProduto=""
      [precoProduto]="191.50">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom mar3"><!--inicio col 3-->
    <app-card-produto
      foto=''
      nomeProduto=""
      [precoProduto]="43.50">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom"><!--inicio col 4-->
    <app-card-produto
      foto=''
      nomeProduto=""
      [precoProduto]="44.90">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar5"><!--inicio col 5-->
  <app-card-produto
    foto=''
    nomeProduto=""
    [precoProduto]="34.90">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->








