<body>
    <div class="card" id="telaRedefinicaoSenha">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <img src="/assets/img/logovert.png" class="img" />

            <div class="mx-auto" style="width: 163px; color: #FFA500;">
                <h5>Insira Nova Senha</h5>
            </div>
            <label class="form-label"> Solicitaremos a nova senha toda vez que fizer login.</label><br>

            <label for="exampleInputEmail1" class="form-label"><b>Insira a nova senha:</b></label>
            <input
              type="password"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            /><br>

            <label for="exampleInputEmail1" class="form-label"><b>Insira a senha novamente:</b></label>
            <input
              type="password"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />

            <div id="emailHelp" class="form-text"></div>
          </div>
    
          <button type="submit" class="btn btn-primary btn-block neon-blue zoom" routerLink="">Salvar alterações e logar</button>
        </form>
  
      </div>
    </div>
    <button type="button" class="btn btn-link" routerLink="">Voltar para home</button>
  </body>
