<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light">

      <img src="/assets/img/logovert.png" routerLink="" width="90" height="90" class="d-inline-block logo">

    <div class="divLinha form-group container-xl">
      <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          placeholder="Pesquise no PetFriends"
          (selected)='itemSelecionadoPesquisa()'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>

      <svg xmlns="http://www.w3.org/2000/svg" id="login" class="zoom" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" routerLink="/perfil-associado">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>

      <b>{{totalProduto}}</b>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16" id="carrinho" class="zoom" routerLink="/reserva">
        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
      </svg>
    </div>



    <ul class="nav topicos">

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item dropdown embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>

    </ul>

  </nav>
</nav>




<div class="container-fluid">
  <div class="my-3 text-warning">
    <h2>RAÇÃO DIET</h2>
  </div>

  <div class="row centro">
    <!--inicio row 1-->
    <div class="col ">
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/243631/product/1_3107895_Ra%C3%A7%C3%A3o-F%C3%B3rmula-Natural-Super-Premium-para-C%C3%A3es-Adultos-Ra%C3%A7as-Mini-e-Pequena.jpg?1628875695'
        nomeProduto="Ração Fórmula Natural Life Super Premium para Cães Adultos Raças Mini e Pequena"
        [precoProduto]="179.90">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/250026/product/Ra%C3%A7%C3%A3o_%C3%9Amida_Pet_Del%C3%ADcia_Natural_Risotinho_de_Frango_F%C3%A1cil_Digest%C3%A3o_-_320_g_1214638_%285%29.jpg?1635450658'
        nomeProduto="Ração Úmida Pet Delícia Natural Risotinho de Frango Fácil Digestão"
        [precoProduto]="15.99">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/244085/product/RAOAFF_1.PNG?1629293117'
        nomeProduto="Ração Guabi Natural Frango e Arroz Integral para Cães Filhotes Raças Mini e Pequena"
        [precoProduto]="111.90">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/250070/product/Ra%C3%A7%C3%A3o_%C3%9Amida_Pet_Del%C3%ADcia_Natural_Frango_com_Ma%C3%A7%C3%A3_Fit_Light_-_320_g_1214643_%284%29.jpg?1635451276'
        nomeProduto="Ração Úmida Pet Delícia Natural Frango com Maçã Fit Light"
        [precoProduto]="18.99">
      </app-card-produto>
    </div>

  </div>
  <div class="row centro">
    <div class="col">
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1542978781168.jpg'
        nomeProduto="Ração Quinoa Weight N&D para Gatos Adultos sabor Cordeiro"
        [precoProduto]="191.50">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1557864263013.jpg'
        nomeProduto="Ração Farmina N&D Ancestral Grain para Gatos Castrados Sabor Frango e Romã"
        [precoProduto]="43.50">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1553532384400.jpg'
        nomeProduto="Ração Farmina N&D Ancestral Grain para Gatos Adultos Sabor Cordeiro e Blueberry"
        [precoProduto]="44.90">
      </app-card-produto>
    </div>

    <div class="col">
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1624368321655.jpg'
        nomeProduto="Ração Guabi Natural para Gatos Adultos Castrados Sabor Salmão e Cevada"
        [precoProduto]="34.90">
      </app-card-produto>
    </div>


  </div>
  <!--fim row 1-->

</div>
