<div class="my-3 text-warning"><h2>VARINHAS</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1 "><!--inicio col 1-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1608212150861.jpg'
        nomeProduto="Brinquedo Petz Varinha para Gatos - Cores Sortidas"
        [precoProduto]="24.99"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom"><!--inicio col 2-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1637937264952.jpg'
        nomeProduto="Brinquedo Zee.Cat Wand Tango para Gatos"
        [precoProduto]="85.00">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom mar3"><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1592488108387.jpg'
        nomeProduto="Brinquedo Pawise Varinha de Unicórnio para Gatos - Cores Sortidas"
        [precoProduto]="39.99">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom"><!--inicio col 4-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/247329/product/Brinquedo_Pet_Games_Varinha_Cat_2434107.jpg?1633023037'
        nomeProduto="Brinquedo Pet Games Varinha Cat"
        [precoProduto]="57.90">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar5"><!--inicio col 5-->
    <app-card-produto
      foto='https://static.petz.com.br/fotos/1592489132938.jpg'
      nomeProduto="Brinquedo Pawise Varinha com Borboleta para Gatos - Cores Sortidas"
      [precoProduto]="26.99">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom mar3"><!--inicio col 3-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/199941/product/Brinquedo_LCM_Cat_Collors_-_Vermelha_1951849.jpg?1627642236'
      nomeProduto="Brinquedo LCM Varinha Cat Collors Vermelha para Gato"
      [precoProduto]="16.49">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom"><!--inicio col 4-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/200117/product/Brinquedo_The_Pets_Brasil_Varinha_com_Bolinha_Cetim_1962830.jpg?1627642649'
      nomeProduto="Brinquedo The Pets Brasil Varinha com Bolinha Cetim"
      [precoProduto]="32.99">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar5"><!--inicio col 5-->
  <app-card-produto
    foto='https://www.petlove.com.br/images/products/232273/product/Brinquedo_Varinha_com_Mola_para_Gatos_2562790.jpg?1627744996'
    nomeProduto="Brinquedo Varinha com Mola para Gatos"
    [precoProduto]="33.99">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->




