<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light">
    <a class="navbar-brand ">
      <img src="/assets/img/logovert.png" routerLink="" width="90" height="90" class="d-inline-block logo">
    </a>

    <div class="form-group container-xl ">

      <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          placeholder="Pesquise no PetFriends"
          (selected)='itemSelecionadoPesquisa()'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>

      <svg xmlns="http://www.w3.org/2000/svg" id="login" class="zoom" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" routerLink="/perfil-associado">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>

      <b>{{totalProduto}}</b>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-basket2-fill" viewBox="0 0 16 16" id="carrinho" class="zoom" routerLink="/reserva">
        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
      </svg>



    </div>

    <ul class="nav tp">
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>


      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>

      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>

      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>
    </ul>

  </nav>
</nav>




<div class="container-fluid">
  <div class="my-3 text-warning"><h2>VARINHAS</h2></div>

    <div class="row centro"><!--inicio row 1-->
      <div class="col"><!--inicio col 1-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1608212150861.jpg'
            nomeProduto="Brinquedo Petz Varinha para Gatos - Cores Sortidas"
            [precoProduto]="24.99">
          </app-card-produto>
      </div><!--fim col 1-->

      <div class="col"><!--inicio col 2-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1637937264952.jpg'
            nomeProduto="Brinquedo Zee.Cat Wand Tango para Gatos"
            [precoProduto]="85.00">
          </app-card-produto>
      </div><!--fim col 2-->

      <div class="col"><!--inicio col 3-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1592488108387.jpg'
            nomeProduto="Brinquedo Pawise Varinha de Unicórnio para Gatos - Cores Sortidas"
            [precoProduto]="39.99">
          </app-card-produto>
      </div><!--fim col 3-->

      <div class="col"><!--inicio col 4-->
          <app-card-produto
            foto='https://www.petlove.com.br/images/products/247329/product/Brinquedo_Pet_Games_Varinha_Cat_2434107.jpg?1633023037'
            nomeProduto="Brinquedo Pet Games Varinha Cat"
            [precoProduto]="57.90">
          </app-card-produto>
      </div><!--fim col 4-->
    </div>

    <div class="row centro">
      <div class="col"><!--inicio col 5-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1592489132938.jpg'
          nomeProduto="Brinquedo Pawise Varinha com Borboleta para Gatos - Cores Sortidas"
          [precoProduto]="26.99">
        </app-card-produto>
      </div><!--fim col 5-->

      <div class="col"><!--inicio col 3-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/199941/product/Brinquedo_LCM_Cat_Collors_-_Vermelha_1951849.jpg?1627642236'
          nomeProduto="Brinquedo LCM Varinha Cat Collors Vermelha para Gato"
          [precoProduto]="16.49">
        </app-card-produto>
      </div><!--fim col 3-->

      <div class="col"><!--inicio col 4-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/200117/product/Brinquedo_The_Pets_Brasil_Varinha_com_Bolinha_Cetim_1962830.jpg?1627642649'
          nomeProduto="Brinquedo The Pets Brasil Varinha com Bolinha Cetim"
          [precoProduto]="32.99">
        </app-card-produto>
      </div><!--fim col 4-->

      <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/232273/product/Brinquedo_Varinha_com_Mola_para_Gatos_2562790.jpg?1627744996'
        nomeProduto="Brinquedo Varinha com Mola para Gatos"
        [precoProduto]="33.99">
      </app-card-produto>
      </div><!--fim col 5-->
    </div><!--fim row 2-->



</div>
