<form class="bg-dark p-4 mt-5 rounded bordinha">
    <div class="form-row">
        <div class="col-md-6 mb-3 text-light">
            <label for="validationDefault01">Nome Produto:</label>
            <input type="text" class="form-control fundo-input" required>
        </div>
        <div class="col-md-6 mb-3 text-light">
            <label for="validationDefault02">Descrição:</label>
            <input type="text" class="form-control fundo-input" required>
        </div>
    </div>
    
    <div class="form-row">
        <div class="col-md-2 mb-3 text-light">
            <label for="validationDefault02">Quantidade:</label>
            <input type="number" class="form-control fundo-input" max="500" min="0" required>
        </div>
        <div class="col-md-4 mb-3 text-light">
            <label for="validationDefault03">Preço:</label>
            <input type="number" class="form-control fundo-input" required>
         </div>
        <div class="col-md-6 mb-3 text-light">
            <label for="validationDefault03">Nome Associado:</label>
            <input type="text" class="form-control fundo-input" required>
        </div>
    </div>
    <button class="btn btn-warning mt-3" type="submit">Incluir Produto</button>
  </form>
