
body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #f89500;
    border-radius: 2px;

}

