/*  */
/* HEADER */
.fundonav {/* FUNDO NAVBAR */
  background-color: #ffd13a;
  padding: 0px;
}
.logo {/* IMG LOGO NAVBAR */
  margin-left: 19vw;
  margin-bottom: -5%;
  margin-top: -2%;
}





body {/* FUNDO DA PAGINA */
  background-image: url("src/assets/img/fundocachorro.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 130vh;
}





.fundo-atendimento {/* FUNDO ATENDIMENTO PETFRIENDS */
  background-color: transparent;
  width: 40vw;
  height: 8vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  margin-top: 5vh;
  margin-left: 30vw;
  border-radius: 10px;
}
.texto-atendimento {/* TEXTO */
  font-size: 15px;
  margin-left: 25%;
  margin-top: -5%;
  text-align: center;
}
.titulo-text {/*TEXTO 'FORMULÁRIO' E 'PROBLEMA' */
  text-align: center;
  justify-content: center;
}






.fundo-formulario {/* FUNDO FORMULARIO */
  width: 40vw;
  height: 56vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  margin-top: 0.5vh;
  margin-left: 4.5vw;
  border-radius: 10px;
}


.row {/* LINHA */
  padding-top: 6%;
  margin-left: 6%;
}
.coluna1 {/* COLUNA DOS INPUTS */
  margin-top: -5%;
  margin-left: 20%;
}
.coluna1 input {/* INPUTS DA COLUNA */
  width: 350px;
}


#assunto{/* TIPO DO PROBLEMA, ASSUNTO */
  width: 500px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
  margin-bottom: 2%;
}
#assunto:focus{/* SELECIONADO */
  width: 350px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(23, 162, 184);
  background-color: transparent;
  border-radius: 0px;
}


input {/* CONFIG DOS INPUTS */
  width: 100%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0px;
}
input:focus {/* SELECIONADO */
  background-color: transparent;
  box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.274);
  border-bottom: 2px solid rgb(23, 162, 184);
  border-radius: 0px;
}










.fundo-problema {/* FUNDO PROBLEMA */
  width: 40vw;
  height: 35vh;
  background-color: rgba(255, 219, 152, 0.808);
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  margin-top: 0.5vh;
  margin-left: 4.5vw;
  border-radius: 10px;
}


.descricaoPrb {/* CONFIG CAMPO DESCRIÇÃO */
  margin-left: 12%;
  width: 70%;
  margin-top: -5%;
}


.btn-dark {/* BOTÃO DE ENVIAR RECLAMAÇÃO */
  width: 19.1vw;
  margin-left: 27.3%;
  margin-top: 1vw;
}


.padding {/* MARGEM INTERNA DO SITE */
  padding-top: 25px;
  margin-left: -6.5%;
}
