<body>

    <div class="fundo shadow-1">
      <!--PRIMEIRO CARD-->
      <form>
        <div class="row">
          <div class="titulo-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
            </svg>
            <h3>Atendimento PetFriends</h3>
          </div>
  
          <div class="fundo2 padding">
            <!--SEGUNDO CARD-->
            <svg xmlns="http://www.w3.org/2000/svg" class="icone-align" width="" height="25" fill="currentColor"
              class="bi bi-file-person-fill" viewBox="0 0 16 16">
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
            </svg>
            <h5 class="titulo-text">FORMULÁRIO</h5>
            <form>
  
              <div class="row">
                <div class="col coluna1">
                  <!--COLUNA 1-->

                  <div class="divlabel">
                    <label for="exampleInputEmail" class="form-label">Selecione Assunto</label>
                    <br>
                    <select class="vistipo" autofocus style="width: 350px;">
                        <option>Problema com o Site</option>
                        <option>Reserva de Produto</option>
                        <option>Reserva de Serviço </option>
                        <option>Problema com Associado</option>
                    </select>
                  </div>

                  <div class="divlabel">
                    <label for="exampleInputEmail" class="form-label">Perfil</label>
                    <br>
                    <select class="vistipo" autofocus style="width: 350px;" >
                      <option value="PetShop">Cliente</option>
                      <option value="Veterinario">Associado</option>
                    </select>
                  </div>
  
                  <div class="nomecompleto form-group">
                    <label for="exampleInputEmail1">SEU NOME</label>
                    <input type="text" class="form-control" name="nomeUsuario" placeholder="DIGITE SEU NOME">
  
                  </div>
  
                  <div class="form-group">
                    <label for="exampleInputEmail1">TELEFONE</label>
                    <input type="text" class="form-control" name="enderecoCadAssociado" placeholder="DIGITE SEU TELEFONE">
                  </div>
  
                  <div class="form-group">
                    <label for="exampleInputEmail1">E-MAIL</label>
                    <input type="email" class="form-control" name="emailCadAssociado" placeholder="E-MAIL">
                  </div>
                </div>
                <!--COLUNA 1-->
              </div>
            </form>
            </div>

            <div class="fundo3 padding">
                <!--SEGUNDO CARD-->
                <svg xmlns="http://www.w3.org/2000/svg" class="text-usuario" width="" height="30" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                <h5 class="titulo-text">PROBLEMA</h5>
                <form>
      
                  <div class="row">
                      
                        <div class="descricaoPrb">
                            <label for="exampleFormControlTextarea1" >DESCREVA O OCORRIDO</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" ></textarea>
                        </div>
                      </div> 
                    </form>
                    <button type="button" routerLink="/plano-premium" class="btn btn-dark">Enviar Reclamação</button>
            </div>
          </div>
        </form>
    </div>
</body>