.img {
  /* IMAGEM DO CARD */
  height: 100px;
  width: 120px;
}

.img-area {
  /* TAMANHO DA IMAGEM DO CARD */
  width: 60%;
  height: 40%;
  padding-top: 10px;
  margin: auto;
}

.card {
  /* TAMANHO DO CARD */
  width: 13vw;
  height: 40vh;
  background-color: white;
}
.card:hover {
  /* AO PASSAR O MOUSE EM CIMA */
  border: 1px solid rgb(255, 153, 0);
}

/*  */
.font {
  /* TAMANHO DO TEXTO */
  font-size: 100%;
}

h5 {
  /* TEXTO DO CONTEUDO DO CARD */
  font-size: 20px;
  font-weight: bold;
  font-style: unset;
  text-decoration: none;
  margin: auto;
  margin-bottom: 6px;
}

.margem {
  /* MARGEM DO CARD */
  margin-left: 05px;
  margin-right: 05px;
  margin-top: 10px;
}

@media (max-width: 424px) {
  .card {
    /* TAMANHO DO CARD */
    width: 57vw;
    height: 40vh;
    background-color: white;
  }
}
