<button type="button" routerLink="incluir-servico">Incluir Serviço</button>
<table class="table table-dark mt-5 bordinha">
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col">Nome Serviço</th> <!--NOME SERVICO-->
        <th scope="col">Preço</th> <!--PREÇO SERVICO-->
        <th scope="col">Associado</th> <!--NOME ASSOCIADO-->
        <th scope="col">Descrição</th> <!--DESCRIÇÃO SERVICO-->
        <th scope="col">Ações</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = "let servico of listarServicos">
            <td>{{ servico.id}}</td>
            <td>{{ servico.nomeServico}}</td>
            <td>{{ servico.precoServico}}</td>
            <td>{{ servico.assocServico}}</td>
            <td>{{ servico.descServico}}</td>
            <td>
              <button class="btn btn-secondary" routerLink="{{servico.id}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-warning ml-2">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </button>
            </td>
        </tr>
     



    </tbody>
  </table>
