.zoom{
    max-width: 100%;
    transition: translate(5%,5%);
  }
  
  .zoom:hover{
    transform: scale(1.1);
    transition: transform .2s ease;
  }

  .centro{
    margin-left: 8%;
  }

  .my-3{
    text-align: center;
  }