<body class="container-fluid">
  
  <div class="my-3 text-warning"><h2>COLEIRAS, GUIAS E PEITORAIS</h2></div>
      
  <div class="row centro"><!--inicio row 1-->
    <div class="col"><!--inicio col 1-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1588796080563.jpg'
          nomeProduto="Coleira com Guia Toh para Cães Fuji"
          [precoProduto]="45.99">
        </app-card-produto>
    </div><!--fim col 1-->
    <div class="col"><!--inicio col 2-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1631717118354.jpg'
          nomeProduto="Coleira São Benedito Pet Couro Forrado Rosa para Cães"
          [precoProduto]="15.00">
        </app-card-produto>
    </div><!--fim col 2-->
    <div class="col"><!--inicio col 3-->
        <app-card-produto
          foto='https://static.petz.com.br/fotos/1631818228226.jpg'
          nomeProduto="Coleira Tchucoo Cat Rubi para Gatos"
          [precoProduto]="33.99">
        </app-card-produto>
    </div><!--fim col 3-->
    <div class="col"><!--inicio col 4-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/230293/product/Slide41.JPG?1627734695'
          nomeProduto="Peitoral H Future Pet Ângulos"
          [precoProduto]="93.90">
        </app-card-produto>
    </div><!--fim col 4-->
  </div>

  <div class="row centro"><!--inicio row 2-->
    <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://www.petlove.com.br/images/products/235257/product/Coleira_Rainbow_para_C%C3%A3es_2637552_1.jpg?1627754728'
        nomeProduto="Coleira Rainbow para Cães"
        [precoProduto]="38.90">
      </app-card-produto>
    </div><!--fim col 5-->
    <div class="col"><!--inicio col 3-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/198783/product/Col-Unix1_1935652_1.jpg?1627638598'
          nomeProduto="Coleira Zooz Pets Snoopy Unix"
          [precoProduto]="38.90">
        </app-card-produto>
    </div><!--fim col 3-->
    <div class="col"><!--inicio col 4-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/224456/product/Conjunto_Peitoral_Toh_Neoprene_e_Guia_Eclipse_2500798_9.jpg?1627719678'
          nomeProduto="Conjunto Peitoral Toh Neoprene e Guia Eclipse"
          [precoProduto]="98.99">
        </app-card-produto>
    </div><!--fim col 4-->
    <div class="col"><!--inicio col 5-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/10031110002514-1.jpg'
        nomeProduto="Coleira Ferplast Ergocomfort Linear para Cães"
        [precoProduto]="109.99">
      </app-card-produto>
    </div><!--fim col 5-->
  </div><!--fim row 1-->
</body>