.zoom {
  max-width: 100%;
  transition: translate(5%, 5%);
}

.zoom:hover {
  transform: scale(1.1);
  transition: transform .2s ease;
}

.centro {
  margin-left: 8%;
}

.my-3 {
  text-align: center;
}


.container-fluid{
  height: 100vh;
  width: 100%;
}
.fundonav{/* FUNDO DA NAVBAR */
  background-color: #ffd13a;
  padding: 0px;
  margin: 0px;
}
.navbar-light{
  width: 100vw;
}




.logo{ /*foto do logo*/
  position: absolute;
  margin-left: 19vw;
  margin-top: -3vh;
}
.divLinha{
  margin-left: 33vw;
  height: 10vh;
}
.topicos{ /*topicos que estruturam os outros*/
  margin-left: 25vw;
  width: 100%;
}
.dropdown-menu{/* DROPVIEW DOS CONTEÚDOS DA NAVBAR */
  background-color: rgb(254, 255, 199);
  border: 2px solid rgb(255, 255, 255);
}
.embaixo{
  margin-left: 3.5vw;
}





#login{/* LOGIN  */
  width: 3%;
  height: 34px;
  cursor: pointer;
  margin-left: 5vw;
}
#carrinho{/* CARRINHO DE RESERVA */
  margin-right: 8vw;
  width: 30px;
  height: 34px;
  cursor: pointer;
}
b{
  margin-right: -4.5vw;
  margin-top: -2%;
}




/*------RESPONSIVO--------*/
.pesquisa2{
  margin: 0px;
  width: 0px;
  height: 0px;
  display: none;
}

@media (max-width: 424px) {

  .tp{
    margin-left: 10px;
  }

  .pesquisa{
    margin: 0px;
    width: 0px;
    height: 0px;
    display: none;
    background-color: transparent;
  }

  .pesquisa2{
    margin: auto;
    margin: 10px;
    margin-left: 10px;
    height: 50px;
    width: 1000px;
    display: block;
  }

  .logo{
    margin-left: -10px;
  }

  #login{
    margin-top: -80px;
    margin-left: 250px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }

  #carrinho{
    margin-top: -80px;
    margin-right: 1px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }

}

@media (max-width: 400px){

  #login{
    margin-top: -80px;
    margin-left: 220px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }

  #carrinho{
    margin-top: -80px;
    margin-right: 1px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }
}

@media (max-width: 361px){ /*config do s8+*/

  #login{
    margin-top: -80px;
    margin-left: 200px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }

  #carrinho{
    margin-top: -80px;
    margin-right: 1px;
    width: 25px;
    height: 29px;
    cursor: pointer;
  }
}
