<nav class="navbar navbar-expand navbar-dark fundonav">
  <nav class="navbar navbar-light">
    <a class="navbar-brand ">
      <img src="/assets/img/logovert.png" routerLink="" width="90" height="90" class="d-inline-block logo">
    </a>
    <div class="form-group container-xl ">
      <input type="text" class="form-control box-search pesquisa" placeholder="Pesquise no PetFriends">
      <svg xmlns="http://www.w3.org/2000/svg" id="login" class="zoom" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" routerLink="/login-cliente">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16" id="carrinho" class="zoom" routerLink="/reserva">
        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
      </svg>
    </div>
    <ul class="nav tp">
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" id="navbarDropdown" role="button" data-toggle="dropdown">Cachorros</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebeoduros-cachorros">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/farmacia">Farmácia</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/ossinhos">Ossinhos</a>
          <a class="dropdown-item zoomdrop" routerLink="/petiscos">Petiscos</a>
        </div>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gatos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/areia">Areia</a>
          <a class="dropdown-item zoomdrop" routerLink="/comedouros-bebedouros-gatos">Comedouros e Bebedouros</a>
          <a class="dropdown-item zoomdrop" routerLink="/escovas-pentes">Escovas e Pentes</a>
          <a class="dropdown-item zoomdrop" routerLink="/higiene-gatos">Higiene</a>
          <a class="dropdown-item zoomdrop" routerLink="/transporte">Transporte</a>
        </div>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brinquedos</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/bolinhas">Bolinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/frisbees">Frisbees</a>
          <a class="dropdown-item zoomdrop" routerLink="/varinhas">Varinhas</a>
        </div>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ração</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/racao-seca">Ração Seca</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-umida">Ração Úmida</a>
          <a class="dropdown-item zoomdrop" routerLink="/racao-diet">Ração Diet</a>
        </div>
      </li>
      <li class="nav-item mt-2" id="embaixo">
        <a></a>
      </li>
      <li class="nav-item dropdown embaixo" id="embaixo">
        <a class="nav-link dropdown-toggle text-dark zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessórios</a>
        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item zoomdrop" routerLink="/camas-casinhas">Camas e Casinhas</a>
          <a class="dropdown-item zoomdrop" routerLink="/coleiras-guias-peitorais">Coleiras, Guias e Peitorais</a>
          <a class="dropdown-item zoomdrop" routerLink="/roupas">Roupas</a>
        </div>
      </li>
    </ul>
  </nav>
  <input type="text" class="form-control box-search pesquisa2" placeholder="Pesquise no PetFriends">
</nav>


<div class="container-fluid">
  <div class="my-3 text-warning"><h2>COMEDOUROS E BEBEDOUROS</h2></div>

    <div class="row centro"><!--inicio row 1-->
      <div class="col"><!--inicio col 1-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1448642181573.jpg'
            nomeProduto="Comedouro Lento e Funcional Pet Games PetFit Azul"
            [precoProduto]="39.99"
            routerLink="incluir-produto">
          </app-card-produto>
      </div><!--fim col 1-->

      <div class="col"><!--inicio col 2-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1556805384634.jpg'
            nomeProduto="Comedouro Automático Furação Pet para Cães Vermelho P"
            [precoProduto]="39.99">
          </app-card-produto>
      </div><!--fim col 2-->

      <div class="col"><!--inicio col 3-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1468861323406.jpg'
            nomeProduto="Comedouro Furacão Pet Coma Melhor Rosa"
            [precoProduto]="54.99">
          </app-card-produto>
      </div><!--fim col 3-->

      <div class="col"><!--inicio col 4-->
          <app-card-produto
            foto='https://static.petz.com.br/fotos/1457993730827.jpg'
            nomeProduto="Comedouro Chalesco Para Cães Duplo Inox"
            [precoProduto]="42.80">
          </app-card-produto>
      </div><!--fim col 4-->
    </div>


    <div class="row centro">
      <div class="col"><!--inicio col 5-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/199954/product/Bebedouro_Vida_Mansa_Light_Polipropileno_PP_Rosa_para_Ra%C3%A7as_Pequenas_-_2_L_1958211.jpg?1627642290'
          nomeProduto="Bebedouro Vida Mansa Light Polipropileno PP Rosa para Raças Pequenas"
          [precoProduto]="109.90">
        </app-card-produto>
      </div><!--fim col 5-->

      <div class="col"><!--inicio col 4-->
          <app-card-produto
            foto='https://www.petlove.com.br/images/products/138676/product/0000000037616_1.jpg?1627514015'
            nomeProduto="Bebedouro Portátil American Pets Fresh Azul para Cães"
            [precoProduto]="21.90">
          </app-card-produto>
      </div><!--fim col 4-->

      <div class="col"><!--inicio col 5-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/198674/product/Bebedouro_Furac%C3%A3o_Pet_Pl%C3%A1stico_Pop_Azul_Pelos_Longos_-_1_L_1937949_1.jpg?1627638194'
          nomeProduto="Bebedouro Furacão Pet Plástico Pop Azul Pelos Longos"
          [precoProduto]="19.90">
        </app-card-produto>
      </div><!--fim col 5-->

      <div class="col"><!--inicio col 5-->
        <app-card-produto
          foto='https://www.petlove.com.br/images/products/138496/product/7898491032166_2.jpg?1627513760'
          nomeProduto="Bebedouro e Comedouro Chalesco Dual Pet"
          [precoProduto]="164.90">
        </app-card-produto>
      </div><!--fim col 5-->

  </div><!--fim row 2-->
</div>
