<body>
  
  <div class="fundo">
    <form>
      <div class="row">
        <div class="col coluna1">
          <h1 class="text-usuario">ASSOCIADO</h1>
          <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" placeholder="E-mail" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" placeholder="Senha" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" routerLink="" class="btn btn-primary">Entrar</button>
          <h3 class="criar-conta">Ainda não possui uma conta associado? <a routerLink="cadastro-associado">Crie a sua!</a></h3>
        </div>  
        
        <div class="col coluna2">
          <h3>Entre ou crie sua conta no PetFriends</h3>
          <img src="/assets/img/logovert.png" style="width: 270px; height: 260px;">
        </div>
      </div>
    </form>
  </div>



</body>
