<body>
    <div class="card" id="telaLogin">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <img src="/assets/img/logovert.png" class="img" />

            <div class="mx-auto" style="width: 203px; color: #FFA500;">
                <h5>Verificação Necessária</h5>
            </div>
            <label class="form-label"> Para continuar, conclua esta etapa de verificação. Enviamos um código para o e-mail emailteste@hotmail.com Insira-o abaixo.</label>

            <label for="exampleInputEmail1" class="form-label"><b>Inserir código</b></label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text"></div>
          </div>
    
          <button type="submit" class="btn btn-primary btn-block neon-blue zoom" routerLink="/redefinicao-senha">Continuar</button>
        </form>
  
  
        <button type="button" class="btn btn-link" style="width: 170px;" id="margleft" routerLink="/validacao-senha">Reenviar código</button>
  
      </div>
    </div>
    <button type="button" class="btn btn-link" routerLink="">Voltar para home</button>
  </body>
