<div class="my-3 text-warning"><h2>HIGIENE</h2></div>
    
<div class="row"><!--inicio row 1-->
  <div class="col zoom mar1"><!--inicio col 1-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1619814047610.jpg'
        nomeProduto="Herbalvet Desinfetante Ourofino T.A"
        [precoProduto]="100.99"
        >
      </app-card-produto>
  </div><!--fim col 1-->

  <div class="col zoom "><!--inicio col 2-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1562011764351.jpg'
        nomeProduto="Kit Sacolinha Bone Bag Chalesco para Cães"
        [precoProduto]="59.99">
      </app-card-produto>
  </div><!--fim col 2-->

  <div class="col zoom "><!--inicio col 3-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1637763801486.jpg'
        nomeProduto="Aspirador de Pelos Chalesco Portátil para Cães e Gatos"
        [precoProduto]="76.99">
      </app-card-produto>
  </div><!--fim col 3-->

  <div class="col zoom mar3"><!--inicio col 4-->
      <app-card-produto
        foto='https://static.petz.com.br/fotos/1562620188093.jpg'
        nomeProduto="Escova de Dente Chalesco para Cães"
        [precoProduto]="21.99">
      </app-card-produto>
  </div><!--fim col 4-->

  <div class="col zoom mar2"><!--inicio col 5-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/250536/product/2492321.jpg?1635797073'
      nomeProduto="Tapete Higiênico Me.Au Pet para Cães"
      [precoProduto]="72.50">
    </app-card-produto>
</div><!--fim col 5-->

<div class="col zoom "><!--inicio col 3-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/195237/product/3107119.jpg?1627626382'
      nomeProduto="Seca Xixi Petmais Varrer Perfumado"
      [precoProduto]="29.90">
    </app-card-produto>
</div><!--fim col 3-->

<div class="col zoom "><!--inicio col 4-->
    <app-card-produto
      foto='https://www.petlove.com.br/images/products/191885/product/Tico_Pads_50_c%C3%B3pia.jpg?1627617247'
      nomeProduto="Tapete Higiênico Expet Tico Pads"
      [precoProduto]="85.90">
    </app-card-produto>
</div><!--fim col 4-->

<div class="col zoom mar3"><!--inicio col 5-->
  <app-card-produto
    foto='https://www.petlove.com.br/images/products/249715/product/Gel_Dental_Sabor_Tutty_Frutty_1200143_138.jpg?1635257355'
    nomeProduto="Gel Dental Sabor Tutty Frutty"
    [precoProduto]="13.95">
  </app-card-produto>
</div><!--fim col 5-->


</div><!--fim row 1-->








