<nav class="navbar navbar-expand-xl navbar-dark bg-warning">
  <nav class="navbar navbar-light bg-translucent">
    <a class="navbar-brand">
      <img src="/assets/img/botao.png"
            routerLink=""
            width="70"
            height="70"
            class="d-inline-block logo zoom">
    </a>

    <div class="form-group container-xl">

      <input type="text" class="form-control box-search" placeholder="Pesquise no PetFriends">

        <img src="/assets/img/user.png" id="imagens" class="zoom" routerLink="login-cliente">

        <img src="/assets/img/carrinho-de-compras.png" id="imagens" class="zoom" routerLink="reserva">

    </div>




    <ul class="nav tp">
      <li class="nav-item" id="embaixo">
        <a class="nav-link text-dark" href="#">Cachorro</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark" href="#">Gato</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark" href="#">Banho</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark" href="#">Acessórios</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark" href="#">Brinquedos</a>
      </li>
      <li class="nav-item embaixo" id="embaixo">
        <a class="nav-link text-dark" href="#">Ração</a>
      </li>
    </ul>



  </nav>


</nav>

